# Bases de Datos Relacionales - Guía Completa

## Introducción

Bienvenido a este tutorial completo sobre bases de datos relacionales. Aprenderás desde los conceptos más básicos hasta técnicas avanzadas de diseño de bases de datos.

### ¿Qué aprenderás?

1. **Modelo Entidad-Relación (E/R)**
2. **Primary Keys y Foreign Keys**
3. **Tipos de relaciones entre tablas**
4. **Normalización (1FN, 2FN, 3FN)**
5. **Ejemplos prácticos con Python y SQL**

## 1. Modelo Entidad-Relación (E/R)

### ¿Qué es?

El **Modelo Entidad-Relación** es una forma de representar visualmente cómo se organizan los datos en una base de datos. Es como hacer un mapa antes de construir una ciudad.

### Componentes principales:

#### 1. **Entidades** (Rectángulos)
Son "cosas" u objetos del mundo real que queremos almacenar en nuestra base de datos.

**Ejemplo:** En una universidad tendríamos:
- Estudiantes
- Profesores
- Cursos
- Departamentos

#### 2. **Atributos** (Óvalos)
Son las características o propiedades de cada entidad.

**Ejemplo de Estudiante:**
- ID_Estudiante
- Nombre
- Apellidos
- Fecha_Nacimiento
- Email

#### 3. **Relaciones** (Rombos)
Describen cómo se conectan las entidades entre sí.

**Ejemplo:**
- Estudiantes **se inscriben en** Cursos
- Profesores **imparten** Cursos
- Departamentos **tienen** Profesores

### Diagrama visual (conceptual):

```
[Estudiante] ----< inscribe >---- [Curso] ----< imparte >---- [Profesor]
    |                                                              |
    |                                                              |
 Atributos:                                                   Atributos:
 - ID                                                         - ID
 - Nombre                                                     - Nombre
 - Email                                                      - Especialidad
```

### 💡 Analogía del mundo real

Piensa en una biblioteca:
- **Entidades:** Libros, Usuarios, Préstamos
- **Atributos de Libro:** ISBN, Título, Autor, Año
- **Relación:** Un Usuario "toma prestado" un Libro (creando un Préstamo)

## 2. 🔑 Primary Keys (Claves Primarias) y Foreign Keys (Claves Foráneas)

### Primary Key (PK) - Clave Primaria

#### ¿Qué es?
Es un campo (o conjunto de campos) que **identifica de forma única** cada registro en una tabla. Es como el DNI de una persona: no hay dos personas con el mismo DNI.

#### Características:
1. **Única:** No puede repetirse
2. **No nula:** Siempre debe tener un valor
3. **Inmutable:** No debería cambiar con el tiempo

#### Ejemplo:

```
Tabla: Estudiantes
┌─────────────┬─────────────┬──────────┬───────────────────┐
│ ID_Estudiante│   Nombre    │ Apellido │      Email       │
│    (PK)     │             │          │                  │
├─────────────┼─────────────┼──────────┼───────────────────┤
│     001     │    Ana      │  García  │ ana@email.com    │
│     002     │    Luis     │  Pérez   │ luis@email.com   │
│     003     │    María    │  López   │ maria@email.com  │
└─────────────┴─────────────┴──────────┴───────────────────┘
```

### Foreign Key (FK) - Clave Foránea

#### ¿Qué es?
Es un campo en una tabla que **hace referencia a la Primary Key de otra tabla**. Es el "puente" que conecta dos tablas.

#### Función:
- Mantiene la **integridad referencial**: asegura que las relaciones sean válidas
- Evita datos "huérfanos" (referencias a registros que no existen)

#### Ejemplo:

```
Tabla: Inscripciones
┌─────────────────┬─────────────┬────────────┬──────────────┐
│ ID_Inscripcion │ ID_Estudiante│ ID_Curso   │    Fecha     │
│      (PK)      │    (FK)     │   (FK)     │              │
├─────────────────┼─────────────┼────────────┼──────────────┤
│      1001      │     001     │    CS101   │  2024-01-15  │
│      1002      │     002     │    CS101   │  2024-01-16  │
│      1003      │     001     │    MATH201 │  2024-01-17  │
└─────────────────┴─────────────┴────────────┴──────────────┘
```

### 💡 Analogía del mundo real

Imagina una empresa de envíos:
- **Primary Key:** El número de seguimiento del paquete (único para cada envío)
- **Foreign Key:** El código del cliente en la tabla de envíos (que apunta a la tabla de clientes)

Esto permite saber quién envió cada paquete sin tener que duplicar todos los datos del cliente en cada envío.

In [ ]:
# Instalación de librerías necesarias (ejecutar si es necesario)
# !pip install pandas sqlite3

import pandas as pd
import sqlite3

# Crear una base de datos en memoria para ejemplos
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

print("✅ Base de datos creada correctamente")

In [ ]:
# Ejemplo práctico: Crear tablas con Primary Keys y Foreign Keys

# Tabla Estudiantes (con Primary Key)
cursor.execute('''
CREATE TABLE Estudiantes (
    ID_Estudiante INTEGER PRIMARY KEY,
    Nombre TEXT NOT NULL,
    Apellido TEXT NOT NULL,
    Email TEXT UNIQUE,
    Fecha_Nacimiento DATE
)
''')

# Tabla Cursos (con Primary Key)
cursor.execute('''
CREATE TABLE Cursos (
    ID_Curso TEXT PRIMARY KEY,
    Nombre_Curso TEXT NOT NULL,
    Creditos INTEGER,
    Departamento TEXT
)
''')

# Tabla Inscripciones (con Primary Key y Foreign Keys)
cursor.execute('''
CREATE TABLE Inscripciones (
    ID_Inscripcion INTEGER PRIMARY KEY AUTOINCREMENT,
    ID_Estudiante INTEGER,
    ID_Curso TEXT,
    Fecha_Inscripcion DATE,
    Calificacion REAL,
    FOREIGN KEY (ID_Estudiante) REFERENCES Estudiantes(ID_Estudiante),
    FOREIGN KEY (ID_Curso) REFERENCES Cursos(ID_Curso)
)
''')

print("✅ Tablas creadas con Primary Keys y Foreign Keys")

## 3. 🔗 Tipos de Relaciones entre Tablas

Las relaciones definen cómo se conectan las entidades. Hay tres tipos principales:

---

### 3.1. Relación Uno a Uno (1:1)

#### ¿Qué significa?
Un registro en la Tabla A se relaciona con **exactamente un** registro en la Tabla B, y viceversa.

#### Ejemplo del mundo real:
- **Persona ↔ Pasaporte**: Cada persona tiene un único pasaporte, y cada pasaporte pertenece a una única persona.
- **Empleado ↔ Escritorio**: En una oficina, cada empleado tiene asignado un escritorio específico.

#### Diagrama:
```
┌─────────┐         1:1        ┌──────────┐
│ Persona │ ─────────────────  │ Pasaporte│
└─────────┘                    └──────────┘
```

#### Implementación:
```sql
Tabla: Personas
┌────────┬──────────┐
│ ID (PK)│  Nombre  │
├────────┼──────────┤
│   1    │   Ana    │
│   2    │   Luis   │
└────────┴──────────┘

Tabla: Pasaportes
┌─────────────┬───────────┬──────────────┐
│ Numero (PK) │ PersonaID │ Fecha_Expira │
│             │   (FK)    │              │
├─────────────┼───────────┼──────────────┤
│  A12345678  │     1     │  2030-05-15  │
│  B87654321  │     2     │  2028-11-20  │
└─────────────┴───────────┴──────────────┘
```

---

### 3.2. Relación Uno a Muchos (1:N)

#### ¿Qué significa?
Un registro en la Tabla A puede relacionarse con **múltiples** registros en la Tabla B, pero cada registro en B solo se relaciona con uno en A.

#### Ejemplos del mundo real:
- **Madre ↔ Hijos**: Una madre puede tener varios hijos, pero cada hijo tiene solo una madre biológica.
- **Autor ↔ Libros**: Un autor puede escribir muchos libros, pero cada libro tiene un autor principal.
- **Departamento ↔ Empleados**: Un departamento tiene muchos empleados, pero cada empleado pertenece a un departamento.

#### Diagrama:
```
┌──────────────┐      1:N       ┌───────────┐
│ Departamento │ ───────────<   │  Empleado │
└──────────────┘                └───────────┘
    uno                           muchos
```

#### Implementación:
```sql
Tabla: Departamentos
┌────────┬──────────────┐
│ ID (PK)│    Nombre    │
├────────┼──────────────┤
│   10   │   Ventas     │
│   20   │   Marketing  │
└────────┴──────────────┘

Tabla: Empleados
┌────────┬─────────┬──────────────┐
│ ID (PK)│  Nombre │ DepartamentoID│
│        │         │     (FK)     │
├────────┼─────────┼──────────────┤
│  101   │  Ana    │      10      │  ← Ventas
│  102   │  Luis   │      10      │  ← Ventas
│  103   │  María  │      10      │  ← Ventas
│  104   │  Carlos │      20      │  ← Marketing
└────────┴─────────┴──────────────┘
```

**Nota:** La Foreign Key siempre va en el lado "muchos".

---

### 3.3. Relación Muchos a Muchos (N:M)

#### ¿Qué significa?
Un registro en la Tabla A puede relacionarse con **múltiples** registros en la Tabla B, y viceversa.

#### Ejemplos del mundo real:
- **Estudiantes ↔ Cursos**: Un estudiante puede inscribirse en varios cursos, y un curso puede tener varios estudiantes.
- **Actores ↔ Películas**: Un actor puede actuar en varias películas, y una película puede tener varios actores.
- **Productos ↔ Proveedores**: Un producto puede ser suministrado por varios proveedores, y un proveedor puede suministrar varios productos.

#### Diagrama:
```
┌────────────┐      N:M       ┌────────┐
│ Estudiante │ ──────<>────── │ Curso  │
└────────────┘                └────────┘
```

#### Implementación (requiere tabla intermedia):

**⚠️ IMPORTANTE:** Las relaciones N:M **no se pueden implementar directamente**. Necesitamos una **tabla intermedia** (también llamada tabla de unión o tabla asociativa).

```sql
Tabla: Estudiantes
┌────────┬──────────┐
│ ID (PK)│  Nombre  │
├────────┼──────────┤
│  E001  │   Ana    │
│  E002  │   Luis   │
│  E003  │   María  │
└────────┴──────────┘

Tabla: Cursos
┌────────┬────────────────┐
│ ID (PK)│ Nombre_Curso   │
├────────┼────────────────┤
│  CS101 │ Programación   │
│  MA201 │ Matemáticas    │
│  PH301 │ Física         │
└────────┴────────────────┘

Tabla INTERMEDIA: Inscripciones
┌───────────────┬──────────────┬───────────┬─────────────┐
│ ID_Inscr (PK) │ EstudianteID │  CursoID  │    Fecha    │
│               │    (FK)      │   (FK)    │             │
├───────────────┼──────────────┼───────────┼─────────────┤
│     1001      │    E001      │   CS101   │ 2024-01-15  │
│     1002      │    E001      │   MA201   │ 2024-01-15  │  ← Ana en 2 cursos
│     1003      │    E002      │   CS101   │ 2024-01-16  │
│     1004      │    E003      │   CS101   │ 2024-01-17  │  ← CS101 tiene 3 estudiantes
│     1005      │    E003      │   PH301   │ 2024-01-17  │
└───────────────┴──────────────┴───────────┴─────────────┘
```

### 💡 Resumen visual:

```
1:1  →  A ───── B        (línea simple)
1:N  →  A ─────< B       (línea con "pata de gallo" en el lado muchos)
N:M  →  A ──┬── C ──┬── B  (requiere tabla intermedia C)
```

In [ ]:
# Ejemplo práctico: Relación Uno a Muchos (1:N)
# Departamentos -> Empleados

# Crear tablas
cursor.execute('''
CREATE TABLE Departamentos (
    ID_Departamento INTEGER PRIMARY KEY,
    Nombre_Departamento TEXT NOT NULL,
    Ubicacion TEXT
)
''')

cursor.execute('''
CREATE TABLE Empleados (
    ID_Empleado INTEGER PRIMARY KEY,
    Nombre TEXT NOT NULL,
    Puesto TEXT,
    Salario REAL,
    ID_Departamento INTEGER,
    FOREIGN KEY (ID_Departamento) REFERENCES Departamentos(ID_Departamento)
)
''')

# Insertar datos
cursor.execute("INSERT INTO Departamentos VALUES (10, 'Ventas', 'Edificio A')")
cursor.execute("INSERT INTO Departamentos VALUES (20, 'Marketing', 'Edificio B')")
cursor.execute("INSERT INTO Departamentos VALUES (30, 'IT', 'Edificio C')")

cursor.execute("INSERT INTO Empleados VALUES (101, 'Ana García', 'Vendedor', 35000, 10)")
cursor.execute("INSERT INTO Empleados VALUES (102, 'Luis Pérez', 'Vendedor Senior', 45000, 10)")
cursor.execute("INSERT INTO Empleados VALUES (103, 'María López', 'Gerente Ventas', 60000, 10)")
cursor.execute("INSERT INTO Empleados VALUES (104, 'Carlos Ruiz', 'Analista Marketing', 40000, 20)")
cursor.execute("INSERT INTO Empleados VALUES (105, 'Elena Torres', 'Desarrollador', 50000, 30)")

# Consultar datos
query = '''
SELECT 
    d.Nombre_Departamento,
    e.Nombre,
    e.Puesto,
    e.Salario
FROM Empleados e
JOIN Departamentos d ON e.ID_Departamento = d.ID_Departamento
ORDER BY d.Nombre_Departamento, e.Nombre
'''

df_empleados = pd.read_sql_query(query, conn)
print("\n Relación 1:N - Departamentos y Empleados:\n")
print(df_empleados.to_string(index=False))

# Contar empleados por departamento
query_count = '''
SELECT 
    d.Nombre_Departamento,
    COUNT(e.ID_Empleado) as Total_Empleados
FROM Departamentos d
LEFT JOIN Empleados e ON d.ID_Departamento = e.ID_Departamento
GROUP BY d.Nombre_Departamento
'''

df_count = pd.read_sql_query(query_count, conn)
print("\n Empleados por Departamento:\n")
print(df_count.to_string(index=False))

In [ ]:
# Ejemplo práctico: Relación Muchos a Muchos (N:M)
# Estudiantes <-> Cursos (con tabla intermedia Inscripciones)

# Insertar datos en Estudiantes
cursor.execute("INSERT INTO Estudiantes VALUES (1, 'Ana', 'García', 'ana@email.com', '2000-03-15')")
cursor.execute("INSERT INTO Estudiantes VALUES (2, 'Luis', 'Pérez', 'luis@email.com', '1999-07-22')")
cursor.execute("INSERT INTO Estudiantes VALUES (3, 'María', 'López', 'maria@email.com', '2001-11-08')")

# Insertar datos en Cursos
cursor.execute("INSERT INTO Cursos VALUES ('CS101', 'Introducción a la Programación', 4, 'Informática')")
cursor.execute("INSERT INTO Cursos VALUES ('MA201', 'Cálculo Avanzado', 5, 'Matemáticas')")
cursor.execute("INSERT INTO Cursos VALUES ('PH301', 'Física Cuántica', 4, 'Física')")
cursor.execute("INSERT INTO Cursos VALUES ('DB401', 'Bases de Datos', 3, 'Informática')")

# Insertar inscripciones (tabla intermedia)
cursor.execute("INSERT INTO Inscripciones (ID_Estudiante, ID_Curso, Fecha_Inscripcion, Calificacion) VALUES (1, 'CS101', '2024-01-15', 8.5)")
cursor.execute("INSERT INTO Inscripciones (ID_Estudiante, ID_Curso, Fecha_Inscripcion, Calificacion) VALUES (1, 'MA201', '2024-01-15', 9.0)")
cursor.execute("INSERT INTO Inscripciones (ID_Estudiante, ID_Curso, Fecha_Inscripcion, Calificacion) VALUES (1, 'DB401', '2024-01-15', 7.5)")
cursor.execute("INSERT INTO Inscripciones (ID_Estudiante, ID_Curso, Fecha_Inscripcion, Calificacion) VALUES (2, 'CS101', '2024-01-16', 7.0)")
cursor.execute("INSERT INTO Inscripciones (ID_Estudiante, ID_Curso, Fecha_Inscripcion, Calificacion) VALUES (2, 'PH301', '2024-01-16', 8.0)")
cursor.execute("INSERT INTO Inscripciones (ID_Estudiante, ID_Curso, Fecha_Inscripcion, Calificacion) VALUES (3, 'CS101', '2024-01-17', 9.5)")
cursor.execute("INSERT INTO Inscripciones (ID_Estudiante, ID_Curso, Fecha_Inscripcion, Calificacion) VALUES (3, 'DB401', '2024-01-17', 8.8)")

# Consulta: Ver todos los cursos de cada estudiante
query = '''
SELECT 
    e.Nombre || ' ' || e.Apellido as Estudiante,
    c.Nombre_Curso,
    c.Creditos,
    i.Calificacion
FROM Inscripciones i
JOIN Estudiantes e ON i.ID_Estudiante = e.ID_Estudiante
JOIN Cursos c ON i.ID_Curso = c.ID_Curso
ORDER BY e.Apellido, c.Nombre_Curso
'''

df_inscripciones = pd.read_sql_query(query, conn)
print("\n Relación N:M - Estudiantes e Inscripciones:\n")
print(df_inscripciones.to_string(index=False))

# Mostrar estudiantes por curso
query_por_curso = '''
SELECT 
    c.Nombre_Curso,
    COUNT(i.ID_Estudiante) as Total_Estudiantes,
    ROUND(AVG(i.Calificacion), 2) as Calificacion_Promedio
FROM Cursos c
LEFT JOIN Inscripciones i ON c.ID_Curso = i.ID_Curso
GROUP BY c.Nombre_Curso
ORDER BY Total_Estudiantes DESC
'''

df_por_curso = pd.read_sql_query(query_por_curso, conn)
print("\n📊 Estadísticas por Curso:\n")
print(df_por_curso.to_string(index=False))

## 4. Normalización de Bases de Datos

### ¿Qué es la normalización?

La **normalización** es un proceso de organización de datos en una base de datos para:
1. **Eliminar redundancia** (datos duplicados)
2. **Evitar anomalías** de inserción, actualización y eliminación
3. **Mejorar la integridad** de los datos
4. **Optimizar el almacenamiento**

###  Analogía del mundo real

Imagina que guardas tus documentos en casa:
- **Sin normalizar:** Tienes copias del mismo documento en varios cajones (redundancia)
- **Normalizado:** Cada documento está en un solo lugar lógico, y usas referencias (índices) para encontrarlo

### Las Formas Normales

Existen varias "formas normales" (niveles de normalización). Las más importantes son:
1. **Primera Forma Normal (1FN)**
2. **Segunda Forma Normal (2FN)**
3. **Tercera Forma Normal (3FN)**

Cada forma normal se construye sobre la anterior.

---

## 4.1. Primera Forma Normal (1FN)

### Reglas:

1. **Cada columna debe contener valores atómicos** (indivisibles)
2. **No puede haber grupos repetidos** de columnas
3. **Cada celda debe contener un solo valor** (no listas o conjuntos)
4. **Cada registro debe ser único** (tener una Primary Key)

### ❌ Ejemplo que NO cumple 1FN:

```
Tabla: Pedidos (MAL DISEÑADA)
┌──────────┬────────────┬─────────────────────────────┬──────────────────┐
│ ID_Pedido│   Cliente  │         Productos           │     Precios      │
├──────────┼────────────┼─────────────────────────────┼──────────────────┤
│   1001   │  Ana García│ Laptop, Mouse, Teclado      │ 800, 25, 45      │
│   1002   │  Luis Pérez│ Monitor, Cable HDMI         │ 300, 15          │
└──────────┴────────────┴─────────────────────────────┴──────────────────┘
```

**Problemas:**
- ❌ La columna "Productos" tiene múltiples valores (no atómico)
- ❌ La columna "Precios" tiene múltiples valores
- ❌ Difícil buscar un producto específico
- ❌ Imposible hacer cálculos correctos

### ✅ Solución - Aplicar 1FN:

**Opción 1:** Separar en múltiples filas
```
Tabla: Detalles_Pedido (CUMPLE 1FN)
┌──────────┬────────────┬───────────┬────────┐
│ ID_Pedido│   Cliente  │ Producto  │ Precio │
├──────────┼────────────┼───────────┼────────┤
│   1001   │ Ana García │  Laptop   │  800   │
│   1001   │ Ana García │  Mouse    │   25   │
│   1001   │ Ana García │  Teclado  │   45   │
│   1002   │ Luis Pérez │  Monitor  │  300   │
│   1002   │ Luis Pérez │Cable HDMI │   15   │
└──────────┴────────────┴───────────┴────────┘
```

**Opción 2 (MEJOR):** Crear tabla separada para productos
```
Tabla: Pedidos
┌──────────┬────────────┬─────────────┐
│ ID_Pedido│   Cliente  │    Fecha    │
├──────────┼────────────┼─────────────┤
│   1001   │ Ana García │ 2024-01-15  │
│   1002   │ Luis Pérez │ 2024-01-16  │
└──────────┴────────────┴─────────────┘

Tabla: Detalles_Pedido
┌─────────┬──────────┬─────────────┬──────────┬────────┐
│ ID_Det  │ID_Pedido │ ID_Producto │ Cantidad │ Precio │
│  (PK)   │   (FK)   │    (FK)     │          │        │
├─────────┼──────────┼─────────────┼──────────┼────────┤
│   1     │   1001   │     P001    │    1     │  800   │
│   2     │   1001   │     P002    │    1     │   25   │
│   3     │   1001   │     P003    │    1     │   45   │
│   4     │   1002   │     P004    │    1     │  300   │
│   5     │   1002   │     P005    │    1     │   15   │
└─────────┴──────────┴─────────────┴──────────┴────────┘

Tabla: Productos
┌─────────────┬─────────────┬──────────────┐
│ ID_Producto │   Nombre    │ Precio_Base  │
│    (PK)     │             │              │
├─────────────┼─────────────┼──────────────┤
│    P001     │   Laptop    │     800      │
│    P002     │   Mouse     │      25      │
│    P003     │   Teclado   │      45      │
└─────────────┴─────────────┴──────────────┘
```

###  Beneficios de 1FN:
- ✅ Cada celda tiene un solo valor
- ✅ Fácil realizar búsquedas y consultas
- ✅ Fácil agregar/eliminar productos
- ✅ Evita inconsistencias de datos

In [ ]:
# Ejemplo práctico: Transformación a 1FN

print("❌ ANTES DE 1FN - Datos NO normalizados:\n")

# Simulación de tabla NO normalizada
data_no_normalizada = {
    'ID_Pedido': [1001, 1002, 1003],
    'Cliente': ['Ana García', 'Luis Pérez', 'María López'],
    'Productos': ['Laptop, Mouse, Teclado', 'Monitor, Cable HDMI', 'Tablet'],
    'Precios': ['800, 25, 45', '300, 15', '450']
}

df_no_norm = pd.DataFrame(data_no_normalizada)
print(df_no_norm.to_string(index=False))

print("\n" + "="*60)
print("\n✅ DESPUÉS DE 1FN - Datos normalizados:\n")

# Crear estructura normalizada
cursor.execute('''
CREATE TABLE Pedidos_Norm (
    ID_Pedido INTEGER PRIMARY KEY,
    Cliente TEXT NOT NULL,
    Fecha DATE
)
''')

cursor.execute('''
CREATE TABLE Productos_Norm (
    ID_Producto TEXT PRIMARY KEY,
    Nombre_Producto TEXT NOT NULL,
    Precio_Unitario REAL
)
''')

cursor.execute('''
CREATE TABLE Detalles_Pedido_Norm (
    ID_Detalle INTEGER PRIMARY KEY AUTOINCREMENT,
    ID_Pedido INTEGER,
    ID_Producto TEXT,
    Cantidad INTEGER,
    Precio REAL,
    FOREIGN KEY (ID_Pedido) REFERENCES Pedidos_Norm(ID_Pedido),
    FOREIGN KEY (ID_Producto) REFERENCES Productos_Norm(ID_Producto)
)
''')

# Insertar datos normalizados
cursor.execute("INSERT INTO Pedidos_Norm VALUES (1001, 'Ana García', '2024-01-15')")
cursor.execute("INSERT INTO Pedidos_Norm VALUES (1002, 'Luis Pérez', '2024-01-16')")
cursor.execute("INSERT INTO Pedidos_Norm VALUES (1003, 'María López', '2024-01-17')")

cursor.execute("INSERT INTO Productos_Norm VALUES ('P001', 'Laptop', 800)")
cursor.execute("INSERT INTO Productos_Norm VALUES ('P002', 'Mouse', 25)")
cursor.execute("INSERT INTO Productos_Norm VALUES ('P003', 'Teclado', 45)")
cursor.execute("INSERT INTO Productos_Norm VALUES ('P004', 'Monitor', 300)")
cursor.execute("INSERT INTO Productos_Norm VALUES ('P005', 'Cable HDMI', 15)")
cursor.execute("INSERT INTO Productos_Norm VALUES ('P006', 'Tablet', 450)")

cursor.execute("INSERT INTO Detalles_Pedido_Norm (ID_Pedido, ID_Producto, Cantidad, Precio) VALUES (1001, 'P001', 1, 800)")
cursor.execute("INSERT INTO Detalles_Pedido_Norm (ID_Pedido, ID_Producto, Cantidad, Precio) VALUES (1001, 'P002', 1, 25)")
cursor.execute("INSERT INTO Detalles_Pedido_Norm (ID_Pedido, ID_Producto, Cantidad, Precio) VALUES (1001, 'P003', 1, 45)")
cursor.execute("INSERT INTO Detalles_Pedido_Norm (ID_Pedido, ID_Producto, Cantidad, Precio) VALUES (1002, 'P004', 1, 300)")
cursor.execute("INSERT INTO Detalles_Pedido_Norm (ID_Pedido, ID_Producto, Cantidad, Precio) VALUES (1002, 'P005', 1, 15)")
cursor.execute("INSERT INTO Detalles_Pedido_Norm (ID_Pedido, ID_Producto, Cantidad, Precio) VALUES (1003, 'P006', 1, 450)")

# Mostrar datos normalizados
query = '''
SELECT 
    p.ID_Pedido,
    p.Cliente,
    pr.Nombre_Producto,
    d.Cantidad,
    d.Precio
FROM Detalles_Pedido_Norm d
JOIN Pedidos_Norm p ON d.ID_Pedido = p.ID_Pedido
JOIN Productos_Norm pr ON d.ID_Producto = pr.ID_Producto
ORDER BY p.ID_Pedido, pr.Nombre_Producto
'''

df_normalizada = pd.read_sql_query(query, conn)
print(df_normalizada.to_string(index=False))

print("\n💡 Ahora cada celda contiene UN SOLO valor atómico")

## 4.2. Segunda Forma Normal (2FN)

### Requisitos previos:
- **Debe cumplir 1FN primero**

### Regla principal:
- **Eliminar dependencias parciales**: Todos los atributos no clave deben depender de **toda la Primary Key**, no solo de una parte.

### ¿Cuándo se aplica?
Solo cuando la Primary Key es **compuesta** (formada por 2 o más columnas).

### 💡 Explicación sencilla:

Si tu Primary Key es (A, B), entonces todos los demás campos deben depender de A **Y** B juntos, no solo de A o solo de B.

---

###  Ejemplo que NO cumple 2FN:

```
Tabla: Calificaciones (MAL DISEÑADA)
┌──────────────┬──────────┬────────────────┬─────────────┬──────────────┐
│ ID_Estudiante│ ID_Curso │ Nombre_Estudiante│ Nota_Final │ Nombre_Curso │
│              │          │                │            │              │
│    (PK)      │  (PK)    │                │            │              │
├──────────────┼──────────┼────────────────┼─────────────┼──────────────┤
│     E001     │  CS101   │   Ana García   │     8.5    │ Programación │
│     E001     │  MA201   │   Ana García   │     9.0    │ Matemáticas  │
│     E002     │  CS101   │   Luis Pérez   │     7.0    │ Programación │
│     E003     │  CS101   │   María López  │     9.5    │ Programación │
└──────────────┴──────────┴────────────────┴─────────────┴──────────────┘
            PRIMARY KEY = (ID_Estudiante, ID_Curso)
```

**Problemas - Dependencias parciales:**

1. ❌ **Nombre_Estudiante** depende solo de `ID_Estudiante` (no del curso)
   - Ana García aparece repetida porque está en 2 cursos
   
2. ❌ **Nombre_Curso** depende solo de `ID_Curso` (no del estudiante)
   - "Programación" aparece repetida porque hay 3 estudiantes en CS101

3. ❌ **Nota_Final** es el ÚNICO campo que depende de AMBOS (estudiante Y curso)

**Consecuencias:**
- Redundancia de datos
- Si cambias el nombre de un estudiante, debes actualizarlo en múltiples filas
- Desperdicio de espacio

---

###  Solución - Aplicar 2FN:

**Separar en 3 tablas:**

```
Tabla: Estudiantes (nueva)
┌──────────────┬────────────────┬───────────────┐
│ ID_Estudiante│     Nombre     │     Email     │
│    (PK)      │                │               │
├──────────────┼────────────────┼───────────────┤
│     E001     │   Ana García   │ ana@email.com │
│     E002     │   Luis Pérez   │luis@email.com │
│     E003     │   María López  │maria@email.com│
└──────────────┴────────────────┴───────────────┘
     ↑ Nombre depende SOLO del ID_Estudiante

Tabla: Cursos (nueva)
┌──────────┬──────────────┬──────────┐
│ ID_Curso │ Nombre_Curso │ Creditos │
│   (PK)   │              │          │
├──────────┼──────────────┼──────────┤
│  CS101   │ Programación │    4     │
│  MA201   │ Matemáticas  │    5     │
└──────────┴──────────────┴──────────┘
     ↑ Nombre_Curso depende SOLO del ID_Curso

Tabla: Calificaciones (modificada - CUMPLE 2FN)
┌──────────────┬──────────┬─────────────┬──────────────┐
│ ID_Estudiante│ ID_Curso │ Nota_Final  │    Fecha     │
│    (FK/PK)   │ (FK/PK)  │             │              │
├──────────────┼──────────┼─────────────┼──────────────┤
│     E001     │  CS101   │     8.5     │  2024-06-15  │
│     E001     │  MA201   │     9.0     │  2024-06-16  │
│     E002     │  CS101   │     7.0     │  2024-06-15  │
│     E003     │  CS101   │     9.5     │  2024-06-15  │
└──────────────┴──────────┴─────────────┴──────────────┘
                    ↑ Nota y Fecha dependen de AMBOS
```

###  Beneficios de 2FN:
- ✅ Elimina redundancia de nombres de estudiantes y cursos
- ✅ Actualizar un nombre de estudiante solo requiere cambiar 1 fila
- ✅ Mejor organización lógica de datos
- ✅ Ahorro de espacio de almacenamiento

### Resumen:

**2FN = 1FN + "No dependencias parciales"**

Si tu Primary Key tiene una sola columna, **automáticamente cumples 2FN** (no puede haber dependencias parciales).

In [ ]:
# Ejemplo práctico: Transformación a 2FN

print(" ANTES DE 2FN - Con dependencias parciales:\n")

# Tabla NO en 2FN
cursor.execute('''
CREATE TABLE Calificaciones_No_2FN (
    ID_Estudiante INTEGER,
    ID_Curso TEXT,
    Nombre_Estudiante TEXT,
    Nombre_Curso TEXT,
    Nota_Final REAL,
    PRIMARY KEY (ID_Estudiante, ID_Curso)
)
''')

cursor.execute("INSERT INTO Calificaciones_No_2FN VALUES (1, 'CS101', 'Ana García', 'Programación', 8.5)")
cursor.execute("INSERT INTO Calificaciones_No_2FN VALUES (1, 'MA201', 'Ana García', 'Matemáticas', 9.0)")
cursor.execute("INSERT INTO Calificaciones_No_2FN VALUES (2, 'CS101', 'Luis Pérez', 'Programación', 7.0)")
cursor.execute("INSERT INTO Calificaciones_No_2FN VALUES (3, 'CS101', 'María López', 'Programación', 9.5)")

df_no_2fn = pd.read_sql_query("SELECT * FROM Calificaciones_No_2FN", conn)
print(df_no_2fn.to_string(index=False))

print("\n  Problemas:")
print("   - 'Ana García' está duplicada (depende solo de ID_Estudiante)")
print("   - 'Programación' está duplicada (depende solo de ID_Curso)")

print("\n" + "="*60)
print("\n✅ DESPUÉS DE 2FN - Sin dependencias parciales:\n")

# Ya tenemos las tablas Estudiantes y Cursos creadas anteriormente
# Solo mostramos la estructura mejorada

query = '''
SELECT 
    i.ID_Estudiante,
    e.Nombre as Nombre_Estudiante,
    i.ID_Curso,
    c.Nombre_Curso,
    i.Calificacion as Nota_Final
FROM Inscripciones i
JOIN Estudiantes e ON i.ID_Estudiante = e.ID_Estudiante
JOIN Cursos c ON i.ID_Curso = c.ID_Curso
WHERE i.Calificacion IS NOT NULL
ORDER BY i.ID_Estudiante, i.ID_Curso
'''

df_2fn = pd.read_sql_query(query, conn)
print("Vista combinada (JOIN de 3 tablas):")
print(df_2fn.to_string(index=False))

print("\n Beneficios:")
print("   ✅ Los nombres se almacenan UNA SOLA VEZ en sus respectivas tablas")
print("   ✅ Actualizar un nombre requiere cambiar solo 1 fila")
print("   ✅ Menor redundancia = menos espacio = más eficiencia")

## 4.3. Tercera Forma Normal (3FN)

### Requisitos previos:
- **Debe cumplir 2FN primero**

### Regla principal:
- **Eliminar dependencias transitivas**: Los atributos no clave NO deben depender de otros atributos no clave.

### Explicación sencilla:

Una **dependencia transitiva** ocurre cuando:
- Campo A depende de la Primary Key
- Campo B depende de Campo A (no de la Primary Key directamente)

**Ejemplo de la vida real:**
```
Código Postal → Ciudad → Provincia
```
La Provincia depende del Código Postal de forma indirecta (a través de la Ciudad).

---

###  Ejemplo que NO cumple 3FN:

```
Tabla: Empleados (MAL DISEÑADA)
┌─────────────┬─────────────┬──────────────┬─────────────────┬──────────────────┐
│ ID_Empleado │   Nombre    │ ID_Depto     │ Nombre_Depto    │ Ubicacion_Depto  │
│    (PK)     │             │              │                 │                  │
├─────────────┼─────────────┼──────────────┼─────────────────┼──────────────────┤
│    E101     │ Ana García  │     D10      │    Ventas       │   Edificio A     │
│    E102     │ Luis Pérez  │     D10      │    Ventas       │   Edificio A     │
│    E103     │ María López │     D10      │    Ventas       │   Edificio A     │
│    E104     │ Carlos Ruiz │     D20      │    Marketing    │   Edificio B     │
│    E105     │ Elena Torres│     D30      │    IT           │   Edificio C     │
└─────────────┴─────────────┴──────────────┴─────────────────┴──────────────────┘
```

**Análisis de dependencias:**

1. ✅ `Nombre` depende de `ID_Empleado` (correcto)
2. ✅ `ID_Depto` depende de `ID_Empleado` (correcto)
3. ❌ `Nombre_Depto` depende de `ID_Depto` (NO del ID_Empleado directamente)
4. ❌ `Ubicacion_Depto` depende de `ID_Depto` (NO del ID_Empleado directamente)

**Cadena de dependencias (transitiva):**
```
ID_Empleado → ID_Depto → Nombre_Depto
ID_Empleado → ID_Depto → Ubicacion_Depto
```

**Problemas:**
- ❌ **Redundancia masiva:** "Ventas" y "Edificio A" se repiten 3 veces
- ❌ **Anomalía de actualización:** Si el departamento de Ventas se muda al Edificio D, hay que actualizar múltiples filas
- ❌ **Anomalía de inserción:** No puedes crear un departamento nuevo sin tener empleados
- ❌ **Anomalía de eliminación:** Si eliminas todos los empleados de IT, pierdes la información del departamento

---

### ✅ Solución - Aplicar 3FN:

**Separar en 2 tablas:**

```
Tabla: Departamentos (nueva)
┌──────────────┬──────────────┬──────────────────┐
│ ID_Depto     │ Nombre_Depto │ Ubicacion_Depto  │
│    (PK)      │              │                  │
├──────────────┼──────────────┼──────────────────┤
│     D10      │   Ventas     │   Edificio A     │
│     D20      │   Marketing  │   Edificio B     │
│     D30      │   IT         │   Edificio C     │
└──────────────┴──────────────┴──────────────────┘
        ↑ Nombre y Ubicación dependen SOLO del ID_Depto

Tabla: Empleados (modificada - CUMPLE 3FN)
┌─────────────┬──────────────┬──────────┬──────────────┐
│ ID_Empleado │    Nombre    │ ID_Depto │   Salario    │
│    (PK)     │              │   (FK)   │              │
├─────────────┼──────────────┼──────────┼──────────────┤
│    E101     │  Ana García  │   D10    │   35000      │
│    E102     │  Luis Pérez  │   D10    │   45000      │
│    E103     │  María López │   D10    │   60000      │
│    E104     │  Carlos Ruiz │   D20    │   40000      │
│    E105     │ Elena Torres │   D30    │   50000      │
└─────────────┴──────────────┴──────────┴──────────────┘
        ↑ Todos los campos dependen DIRECTAMENTE del ID_Empleado
```

###  Beneficios de 3FN:
- ✅ **Cero redundancia:** Cada dato se almacena una sola vez
- ✅ **Fácil actualización:** Cambiar la ubicación de un departamento = 1 UPDATE
- ✅ **Flexibilidad:** Puedes crear departamentos sin empleados
- ✅ **Integridad:** Eliminar empleados no afecta la información de departamentos
- ✅ **Menor espacio:** Sin datos duplicados

---

###  Otro ejemplo clásico: Direcciones

**❌ NO cumple 3FN:**
```
Tabla: Clientes
┌──────────┬─────────┬───────────────┬─────────┬───────────┬───────────┐
│ ID_Cliente│ Nombre  │   Dirección   │  Ciudad │ Provincia │   País    │
├──────────┼─────────┼───────────────┼─────────┼───────────┼───────────┤
│   C001   │  Ana    │ Calle Mayor 1 │ Madrid  │  Madrid   │  España   │
│   C002   │  Luis   │ Gran Vía 50   │ Madrid  │  Madrid   │  España   │
└──────────┴─────────┴───────────────┴─────────┴───────────┴───────────┘
```

**Problema:** "Madrid" (ciudad) → "Madrid" (provincia) → "España" (país)

**✅ Cumple 3FN:**
```
Tabla: Clientes
┌──────────┬─────────┬───────────────┬────────────┐
│ ID_Cliente│ Nombre  │   Dirección   │ ID_Ciudad  │
│          │         │               │    (FK)    │
└──────────┴─────────┴───────────────┴────────────┘

Tabla: Ciudades
┌───────────┬─────────┬──────────────┬──────────┐
│ ID_Ciudad │  Nombre │ ID_Provincia │ Código_Postal│
│   (PK)    │         │    (FK)      │          │
└───────────┴─────────┴──────────────┴──────────┘

Tabla: Provincias
┌──────────────┬─────────┬─────────┐
│ ID_Provincia │ Nombre  │ ID_País │
│    (PK)      │         │  (FK)   │
└──────────────┴─────────┴─────────┘
```

###  Resumen de Normalización:

| Forma Normal | Requisito Principal |
|--------------|--------------------|
| **1FN** | Valores atómicos (no listas) |
| **2FN** | 1FN + No dependencias parciales |
| **3FN** | 2FN + No dependencias transitivas |

In [ ]:
# Ejemplo práctico: Transformación a 3FN

print("❌ ANTES DE 3FN - Con dependencias transitivas:\n")

# Tabla NO en 3FN
cursor.execute('''
CREATE TABLE Empleados_No_3FN (
    ID_Empleado INTEGER PRIMARY KEY,
    Nombre TEXT,
    ID_Departamento INTEGER,
    Nombre_Departamento TEXT,
    Ubicacion_Departamento TEXT,
    Salario REAL
)
''')

cursor.execute("INSERT INTO Empleados_No_3FN VALUES (101, 'Ana García', 10, 'Ventas', 'Edificio A', 35000)")
cursor.execute("INSERT INTO Empleados_No_3FN VALUES (102, 'Luis Pérez', 10, 'Ventas', 'Edificio A', 45000)")
cursor.execute("INSERT INTO Empleados_No_3FN VALUES (103, 'María López', 10, 'Ventas', 'Edificio A', 60000)")
cursor.execute("INSERT INTO Empleados_No_3FN VALUES (104, 'Carlos Ruiz', 20, 'Marketing', 'Edificio B', 40000)")
cursor.execute("INSERT INTO Empleados_No_3FN VALUES (105, 'Elena Torres', 30, 'IT', 'Edificio C', 50000)")

df_no_3fn = pd.read_sql_query("SELECT * FROM Empleados_No_3FN", conn)
print(df_no_3fn.to_string(index=False))

print("\n⚠️  Problemas (dependencias transitivas):")
print("   - Nombre_Departamento depende de ID_Departamento (NO de ID_Empleado)")
print("   - Ubicacion_Departamento depende de ID_Departamento (NO de ID_Empleado)")
print("   - 'Ventas' y 'Edificio A' están duplicados 3 veces")

print("\n" + "="*70)
print("\n✅ DESPUÉS DE 3FN - Sin dependencias transitivas:\n")

# Ya tenemos las tablas Departamentos y Empleados creadas
# Mostrar la estructura mejorada

print("Tabla 1: Departamentos (información una sola vez)")
df_deptos = pd.read_sql_query("SELECT * FROM Departamentos", conn)
print(df_deptos.to_string(index=False))

print("\nTabla 2: Empleados (sin redundancia)")
df_emps = pd.read_sql_query("SELECT * FROM Empleados", conn)
print(df_emps.to_string(index=False))

print("\nVista combinada (JOIN):")
query = '''
SELECT 
    e.ID_Empleado,
    e.Nombre,
    d.Nombre_Departamento,
    d.Ubicacion,
    e.Salario
FROM Empleados e
JOIN Departamentos d ON e.ID_Departamento = d.ID_Departamento
ORDER BY e.ID_Empleado
'''
df_3fn = pd.read_sql_query(query, conn)
print(df_3fn.to_string(index=False))

print("\n💡 Beneficios:")
print("   ✅ Cada dato se almacena UNA SOLA VEZ")
print("   ✅ Actualizar ubicación de 'Ventas' = 1 UPDATE (no 3)")
print("   ✅ Puedes tener departamentos sin empleados")
print("   ✅ Eliminar empleados no afecta info de departamentos")

## 5. Resumen Completo: Comparación de Formas Normales

### Tabla comparativa:

| Forma Normal | Objetivo | Regla Clave | Ejemplo de Violación |
|--------------|----------|-------------|---------------------|
| **1FN** | Atomicidad | Cada celda = 1 valor | `Productos: "Laptop, Mouse"` |
| **2FN** | Dependencia completa de PK | Todo depende de TODA la PK | Nombre_Estudiante depende solo de ID_Estudiante en PK(ID_Est, ID_Curso) |
| **3FN** | Dependencia directa | No depender de campos no clave | Ubicación_Depto depende de ID_Depto (no de ID_Empleado) |

### Proceso de normalización paso a paso:

```
Datos sin normalizar
        ↓
    Aplicar 1FN
        ↓
[Valores atómicos, sin grupos repetidos]
        ↓
    Aplicar 2FN
        ↓
[Sin dependencias parciales]
        ↓
    Aplicar 3FN
        ↓
[Sin dependencias transitivas]
        ↓
Base de datos normalizada ✅
```

###  Ventajas de la normalización:

1. ✅ **Menor redundancia** → Menos espacio de almacenamiento
2. ✅ **Integridad de datos** → Menos inconsistencias
3. ✅ **Fácil mantenimiento** → Actualizar en un solo lugar
4. ✅ **Flexibilidad** → Fácil agregar nuevos datos
5. ✅ **Evita anomalías** → Inserción, actualización, eliminación

###  Consideraciones:

- **Más tablas = más JOINs** → Puede afectar performance en consultas complejas
- A veces se **desnormaliza intencionalmente** para mejorar rendimiento (data warehouses)
- En Data Science, es común trabajar con datos desnormalizados para análisis

###  Regla de oro:

> "Normaliza hasta 3FN por defecto, desnormaliza solo si tienes una buena razón (performance medida)"

## 6. 🔧 Ejercicios Prácticos

### Ejercicio 1: Identificar violaciones

Identifica qué forma normal viola esta tabla:

```
Tabla: Biblioteca
┌─────────┬────────────────┬─────────────────────┬──────────────┐
│ ISBN    │ Título         │ Autores             │ Editorial    │
├─────────┼────────────────┼─────────────────────┼──────────────┤
│ 12345   │ El Quijote     │ Cervantes           │ Planeta      │
│ 67890   │ Python Pro     │ García, López, Ruiz │ O'Reilly     │
└─────────┴────────────────┴─────────────────────┴──────────────┘
```

**Respuesta:** Viola 1FN porque "Autores" tiene múltiples valores.

---

### Ejercicio 2: Diseñar base de datos

Diseña una base de datos normalizada (hasta 3FN) para un sistema de gestión de **biblioteca** que incluya:
- Libros (ISBN, título, año publicación)
- Autores (nombre, nacionalidad)
- Préstamos (fecha préstamo, fecha devolución)
- Usuarios (nombre, email, teléfono)

**Pista:** Necesitarás al menos 5 tablas.

---

### Ejercicio 3: Consultas SQL

Usando las tablas creadas en este notebook, escribe consultas para:

1. Listar todos los estudiantes con sus cursos y calificaciones
2. Calcular el promedio de calificaciones por curso
3. Encontrar el estudiante con la calificación más alta
4. Listar empleados que ganan más que el promedio de su departamento

In [ ]:
# Espacio para tus soluciones

# Ejercicio 3.1: Estudiantes con cursos y calificaciones
query_ej1 = '''
-- Escribe tu consulta aquí
SELECT 
    e.Nombre || ' ' || e.Apellido as Estudiante,
    c.Nombre_Curso,
    i.Calificacion
FROM Inscripciones i
JOIN Estudiantes e ON i.ID_Estudiante = e.ID_Estudiante
JOIN Cursos c ON i.ID_Curso = c.ID_Curso
WHERE i.Calificacion IS NOT NULL
ORDER BY e.Apellido, i.Calificacion DESC
'''

print("Ejercicio 3.1: Estudiantes con sus cursos\n")
print(pd.read_sql_query(query_ej1, conn).to_string(index=False))

# Ejercicio 3.2: Promedio por curso
query_ej2 = '''
SELECT 
    c.Nombre_Curso,
    ROUND(AVG(i.Calificacion), 2) as Calificacion_Promedio,
    COUNT(*) as Num_Estudiantes
FROM Inscripciones i
JOIN Cursos c ON i.ID_Curso = c.ID_Curso
WHERE i.Calificacion IS NOT NULL
GROUP BY c.Nombre_Curso
ORDER BY Calificacion_Promedio DESC
'''

print("\n\nEjercicio 3.2: Promedio de calificaciones por curso\n")
print(pd.read_sql_query(query_ej2, conn).to_string(index=False))

# Ejercicio 3.3: Mejor calificación
query_ej3 = '''
SELECT 
    e.Nombre || ' ' || e.Apellido as Estudiante,
    c.Nombre_Curso,
    i.Calificacion
FROM Inscripciones i
JOIN Estudiantes e ON i.ID_Estudiante = e.ID_Estudiante
JOIN Cursos c ON i.ID_Curso = c.ID_Curso
WHERE i.Calificacion = (SELECT MAX(Calificacion) FROM Inscripciones)
'''

print("\n\nEjercicio 3.3: Estudiante(s) con la mejor calificación\n")
print(pd.read_sql_query(query_ej3, conn).to_string(index=False))

## 7. 🎓 Conclusiones y Mejores Prácticas

### Reglas de oro del diseño de bases de datos:

1. **Siempre define Primary Keys**
   - Usa IDs autoincrementales cuando sea apropiado
   - Asegúrate de que sean inmutables (no cambien)

2. **Usa Foreign Keys para mantener integridad**
   - Previene datos huérfanos
   - Documenta las relaciones

3. **Normaliza hasta 3FN por defecto**
   - Reduce redundancia
   - Facilita mantenimiento

4. **Desnormaliza solo con justificación**
   - Cuando la performance lo requiera
   - En sistemas de reporting/analytics
   - Mide antes y después

5. **Documenta tus decisiones**
   - Usa comentarios en SQL
   - Mantén diagramas E/R actualizados

6. **Naming conventions (convenciones de nombres)**
   - Usa nombres descriptivos: `Fecha_Nacimiento` no `FN`
   - Sé consistente: `ID_Estudiante` o `EstudianteID` (pero siempre el mismo patrón)
   - Primary Keys: `ID_` o `_ID`
   - Foreign Keys: mismo nombre que la tabla referenciada

### Para Data Science:

- **ETL:** Extrae de bases normalizadas → Transforma → Carga en estructuras optimizadas para análisis
- **Data Warehouses:** Suelen estar desnormalizados (esquema estrella/copo de nieve)
- **DataFrames:** Pandas permite JOINs similares a SQL (merge, join)

### Recursos adicionales:

- [DB-Engines](https://db-engines.com/) - Ranking de bases de datos
- [SQL Zoo](https://sqlzoo.net/) - Tutoriales interactivos de SQL
- [PostgreSQL Tutorial](https://www.postgresqltutorial.com/)

---

## ¡Felicidades!

Has completado una guía completa sobre bases de datos relacionales. Ahora entiendes:

- ✅ Modelo Entidad-Relación (E/R)
- ✅ Primary Keys y Foreign Keys
- ✅ Relaciones 1:1, 1:N y N:M
- ✅ Normalización (1FN, 2FN, 3FN)
- ✅ Diseño de bases de datos eficientes

**¡Ahora estás listo para diseñar bases de datos profesionales!** 🚀

In [ ]:
# Cerrar conexión a la base de datos
conn.close()
print("\n✅ Conexión cerrada. Gracias por aprender con The Bridge!")