# Bases de Datos Relacionales - GuÃ­a Completa

## IntroducciÃ³n

Bienvenido a este tutorial completo sobre bases de datos relacionales. AprenderÃ¡s desde los conceptos mÃ¡s bÃ¡sicos hasta tÃ©cnicas avanzadas de diseÃ±o de bases de datos.

### Â¿QuÃ© aprenderÃ¡s?

1. **Modelo Entidad-RelaciÃ³n (E/R)**
2. **Primary Keys y Foreign Keys**
3. **Tipos de relaciones entre tablas**
4. **NormalizaciÃ³n (1FN, 2FN, 3FN)**
5. **Ejemplos prÃ¡cticos con Python y SQL**

## 1. Modelo Entidad-RelaciÃ³n (E/R)

### Â¿QuÃ© es?

El **Modelo Entidad-RelaciÃ³n** es una forma de representar visualmente cÃ³mo se organizan los datos en una base de datos. Es como hacer un mapa antes de construir una ciudad.

### Componentes principales:

#### 1. **Entidades** (RectÃ¡ngulos)
Son "cosas" u objetos del mundo real que queremos almacenar en nuestra base de datos.

**Ejemplo:** En una universidad tendrÃ­amos:
- Estudiantes
- Profesores
- Cursos
- Departamentos

#### 2. **Atributos** (Ã“valos)
Son las caracterÃ­sticas o propiedades de cada entidad.

**Ejemplo de Estudiante:**
- ID_Estudiante
- Nombre
- Apellidos
- Fecha_Nacimiento
- Email

#### 3. **Relaciones** (Rombos)
Describen cÃ³mo se conectan las entidades entre sÃ­.

**Ejemplo:**
- Estudiantes **se inscriben en** Cursos
- Profesores **imparten** Cursos
- Departamentos **tienen** Profesores

### Diagrama visual (conceptual):

```
[Estudiante] ----< inscribe >---- [Curso] ----< imparte >---- [Profesor]
    |                                                              |
    |                                                              |
 Atributos:                                                   Atributos:
 - ID                                                         - ID
 - Nombre                                                     - Nombre
 - Email                                                      - Especialidad
```

### ğŸ’¡ AnalogÃ­a del mundo real

Piensa en una biblioteca:
- **Entidades:** Libros, Usuarios, PrÃ©stamos
- **Atributos de Libro:** ISBN, TÃ­tulo, Autor, AÃ±o
- **RelaciÃ³n:** Un Usuario "toma prestado" un Libro (creando un PrÃ©stamo)

## 2. ğŸ”‘ Primary Keys (Claves Primarias) y Foreign Keys (Claves ForÃ¡neas)

### Primary Key (PK) - Clave Primaria

#### Â¿QuÃ© es?
Es un campo (o conjunto de campos) que **identifica de forma Ãºnica** cada registro en una tabla. Es como el DNI de una persona: no hay dos personas con el mismo DNI.

#### CaracterÃ­sticas:
1. **Ãšnica:** No puede repetirse
2. **No nula:** Siempre debe tener un valor
3. **Inmutable:** No deberÃ­a cambiar con el tiempo

#### Ejemplo:

```
Tabla: Estudiantes
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Estudianteâ”‚   Nombre    â”‚ Apellido â”‚      Email       â”‚
â”‚    (PK)     â”‚             â”‚          â”‚                  â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚     001     â”‚    Ana      â”‚  GarcÃ­a  â”‚ ana@email.com    â”‚
â”‚     002     â”‚    Luis     â”‚  PÃ©rez   â”‚ luis@email.com   â”‚
â”‚     003     â”‚    MarÃ­a    â”‚  LÃ³pez   â”‚ maria@email.com  â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

### Foreign Key (FK) - Clave ForÃ¡nea

#### Â¿QuÃ© es?
Es un campo en una tabla que **hace referencia a la Primary Key de otra tabla**. Es el "puente" que conecta dos tablas.

#### FunciÃ³n:
- Mantiene la **integridad referencial**: asegura que las relaciones sean vÃ¡lidas
- Evita datos "huÃ©rfanos" (referencias a registros que no existen)

#### Ejemplo:

```
Tabla: Inscripciones
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Inscripcion â”‚ ID_Estudianteâ”‚ ID_Curso   â”‚    Fecha     â”‚
â”‚      (PK)      â”‚    (FK)     â”‚   (FK)     â”‚              â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚      1001      â”‚     001     â”‚    CS101   â”‚  2024-01-15  â”‚
â”‚      1002      â”‚     002     â”‚    CS101   â”‚  2024-01-16  â”‚
â”‚      1003      â”‚     001     â”‚    MATH201 â”‚  2024-01-17  â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

### ğŸ’¡ AnalogÃ­a del mundo real

Imagina una empresa de envÃ­os:
- **Primary Key:** El nÃºmero de seguimiento del paquete (Ãºnico para cada envÃ­o)
- **Foreign Key:** El cÃ³digo del cliente en la tabla de envÃ­os (que apunta a la tabla de clientes)

Esto permite saber quiÃ©n enviÃ³ cada paquete sin tener que duplicar todos los datos del cliente en cada envÃ­o.

In [ ]:
# InstalaciÃ³n de librerÃ­as necesarias (ejecutar si es necesario)
# !pip install pandas sqlite3

import pandas as pd
import sqlite3

# Crear una base de datos en memoria para ejemplos
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

print("âœ… Base de datos creada correctamente")

In [ ]:
# Ejemplo prÃ¡ctico: Crear tablas con Primary Keys y Foreign Keys

# Tabla Estudiantes (con Primary Key)
cursor.execute('''
CREATE TABLE Estudiantes (
    ID_Estudiante INTEGER PRIMARY KEY,
    Nombre TEXT NOT NULL,
    Apellido TEXT NOT NULL,
    Email TEXT UNIQUE,
    Fecha_Nacimiento DATE
)
''')

# Tabla Cursos (con Primary Key)
cursor.execute('''
CREATE TABLE Cursos (
    ID_Curso TEXT PRIMARY KEY,
    Nombre_Curso TEXT NOT NULL,
    Creditos INTEGER,
    Departamento TEXT
)
''')

# Tabla Inscripciones (con Primary Key y Foreign Keys)
cursor.execute('''
CREATE TABLE Inscripciones (
    ID_Inscripcion INTEGER PRIMARY KEY AUTOINCREMENT,
    ID_Estudiante INTEGER,
    ID_Curso TEXT,
    Fecha_Inscripcion DATE,
    Calificacion REAL,
    FOREIGN KEY (ID_Estudiante) REFERENCES Estudiantes(ID_Estudiante),
    FOREIGN KEY (ID_Curso) REFERENCES Cursos(ID_Curso)
)
''')

print("âœ… Tablas creadas con Primary Keys y Foreign Keys")

## 3. ğŸ”— Tipos de Relaciones entre Tablas

Las relaciones definen cÃ³mo se conectan las entidades. Hay tres tipos principales:

---

### 3.1. RelaciÃ³n Uno a Uno (1:1)

#### Â¿QuÃ© significa?
Un registro en la Tabla A se relaciona con **exactamente un** registro en la Tabla B, y viceversa.

#### Ejemplo del mundo real:
- **Persona â†” Pasaporte**: Cada persona tiene un Ãºnico pasaporte, y cada pasaporte pertenece a una Ãºnica persona.
- **Empleado â†” Escritorio**: En una oficina, cada empleado tiene asignado un escritorio especÃ­fico.

#### Diagrama:
```
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”         1:1        â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Persona â”‚ â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€  â”‚ Pasaporteâ”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜                    â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

#### ImplementaciÃ³n:
```sql
Tabla: Personas
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID (PK)â”‚  Nombre  â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚   1    â”‚   Ana    â”‚
â”‚   2    â”‚   Luis   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

Tabla: Pasaportes
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Numero (PK) â”‚ PersonaID â”‚ Fecha_Expira â”‚
â”‚             â”‚   (FK)    â”‚              â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚  A12345678  â”‚     1     â”‚  2030-05-15  â”‚
â”‚  B87654321  â”‚     2     â”‚  2028-11-20  â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

---

### 3.2. RelaciÃ³n Uno a Muchos (1:N)

#### Â¿QuÃ© significa?
Un registro en la Tabla A puede relacionarse con **mÃºltiples** registros en la Tabla B, pero cada registro en B solo se relaciona con uno en A.

#### Ejemplos del mundo real:
- **Madre â†” Hijos**: Una madre puede tener varios hijos, pero cada hijo tiene solo una madre biolÃ³gica.
- **Autor â†” Libros**: Un autor puede escribir muchos libros, pero cada libro tiene un autor principal.
- **Departamento â†” Empleados**: Un departamento tiene muchos empleados, pero cada empleado pertenece a un departamento.

#### Diagrama:
```
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”      1:N       â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Departamento â”‚ â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€<   â”‚  Empleado â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜                â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
    uno                           muchos
```

#### ImplementaciÃ³n:
```sql
Tabla: Departamentos
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID (PK)â”‚    Nombre    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚   10   â”‚   Ventas     â”‚
â”‚   20   â”‚   Marketing  â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

Tabla: Empleados
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID (PK)â”‚  Nombre â”‚ DepartamentoIDâ”‚
â”‚        â”‚         â”‚     (FK)     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚  101   â”‚  Ana    â”‚      10      â”‚  â† Ventas
â”‚  102   â”‚  Luis   â”‚      10      â”‚  â† Ventas
â”‚  103   â”‚  MarÃ­a  â”‚      10      â”‚  â† Ventas
â”‚  104   â”‚  Carlos â”‚      20      â”‚  â† Marketing
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

**Nota:** La Foreign Key siempre va en el lado "muchos".

---

### 3.3. RelaciÃ³n Muchos a Muchos (N:M)

#### Â¿QuÃ© significa?
Un registro en la Tabla A puede relacionarse con **mÃºltiples** registros en la Tabla B, y viceversa.

#### Ejemplos del mundo real:
- **Estudiantes â†” Cursos**: Un estudiante puede inscribirse en varios cursos, y un curso puede tener varios estudiantes.
- **Actores â†” PelÃ­culas**: Un actor puede actuar en varias pelÃ­culas, y una pelÃ­cula puede tener varios actores.
- **Productos â†” Proveedores**: Un producto puede ser suministrado por varios proveedores, y un proveedor puede suministrar varios productos.

#### Diagrama:
```
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”      N:M       â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ Estudiante â”‚ â”€â”€â”€â”€â”€â”€<>â”€â”€â”€â”€â”€â”€ â”‚ Curso  â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜                â””â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

#### ImplementaciÃ³n (requiere tabla intermedia):

**âš ï¸ IMPORTANTE:** Las relaciones N:M **no se pueden implementar directamente**. Necesitamos una **tabla intermedia** (tambiÃ©n llamada tabla de uniÃ³n o tabla asociativa).

```sql
Tabla: Estudiantes
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID (PK)â”‚  Nombre  â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚  E001  â”‚   Ana    â”‚
â”‚  E002  â”‚   Luis   â”‚
â”‚  E003  â”‚   MarÃ­a  â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

Tabla: Cursos
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID (PK)â”‚ Nombre_Curso   â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚  CS101 â”‚ ProgramaciÃ³n   â”‚
â”‚  MA201 â”‚ MatemÃ¡ticas    â”‚
â”‚  PH301 â”‚ FÃ­sica         â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

Tabla INTERMEDIA: Inscripciones
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Inscr (PK) â”‚ EstudianteID â”‚  CursoID  â”‚    Fecha    â”‚
â”‚               â”‚    (FK)      â”‚   (FK)    â”‚             â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚     1001      â”‚    E001      â”‚   CS101   â”‚ 2024-01-15  â”‚
â”‚     1002      â”‚    E001      â”‚   MA201   â”‚ 2024-01-15  â”‚  â† Ana en 2 cursos
â”‚     1003      â”‚    E002      â”‚   CS101   â”‚ 2024-01-16  â”‚
â”‚     1004      â”‚    E003      â”‚   CS101   â”‚ 2024-01-17  â”‚  â† CS101 tiene 3 estudiantes
â”‚     1005      â”‚    E003      â”‚   PH301   â”‚ 2024-01-17  â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

### ğŸ’¡ Resumen visual:

```
1:1  â†’  A â”€â”€â”€â”€â”€ B        (lÃ­nea simple)
1:N  â†’  A â”€â”€â”€â”€â”€< B       (lÃ­nea con "pata de gallo" en el lado muchos)
N:M  â†’  A â”€â”€â”¬â”€â”€ C â”€â”€â”¬â”€â”€ B  (requiere tabla intermedia C)
```

In [ ]:
# Ejemplo prÃ¡ctico: RelaciÃ³n Uno a Muchos (1:N)
# Departamentos -> Empleados

# Crear tablas
cursor.execute('''
CREATE TABLE Departamentos (
    ID_Departamento INTEGER PRIMARY KEY,
    Nombre_Departamento TEXT NOT NULL,
    Ubicacion TEXT
)
''')

cursor.execute('''
CREATE TABLE Empleados (
    ID_Empleado INTEGER PRIMARY KEY,
    Nombre TEXT NOT NULL,
    Puesto TEXT,
    Salario REAL,
    ID_Departamento INTEGER,
    FOREIGN KEY (ID_Departamento) REFERENCES Departamentos(ID_Departamento)
)
''')

# Insertar datos
cursor.execute("INSERT INTO Departamentos VALUES (10, 'Ventas', 'Edificio A')")
cursor.execute("INSERT INTO Departamentos VALUES (20, 'Marketing', 'Edificio B')")
cursor.execute("INSERT INTO Departamentos VALUES (30, 'IT', 'Edificio C')")

cursor.execute("INSERT INTO Empleados VALUES (101, 'Ana GarcÃ­a', 'Vendedor', 35000, 10)")
cursor.execute("INSERT INTO Empleados VALUES (102, 'Luis PÃ©rez', 'Vendedor Senior', 45000, 10)")
cursor.execute("INSERT INTO Empleados VALUES (103, 'MarÃ­a LÃ³pez', 'Gerente Ventas', 60000, 10)")
cursor.execute("INSERT INTO Empleados VALUES (104, 'Carlos Ruiz', 'Analista Marketing', 40000, 20)")
cursor.execute("INSERT INTO Empleados VALUES (105, 'Elena Torres', 'Desarrollador', 50000, 30)")

# Consultar datos
query = '''
SELECT 
    d.Nombre_Departamento,
    e.Nombre,
    e.Puesto,
    e.Salario
FROM Empleados e
JOIN Departamentos d ON e.ID_Departamento = d.ID_Departamento
ORDER BY d.Nombre_Departamento, e.Nombre
'''

df_empleados = pd.read_sql_query(query, conn)
print("\n RelaciÃ³n 1:N - Departamentos y Empleados:\n")
print(df_empleados.to_string(index=False))

# Contar empleados por departamento
query_count = '''
SELECT 
    d.Nombre_Departamento,
    COUNT(e.ID_Empleado) as Total_Empleados
FROM Departamentos d
LEFT JOIN Empleados e ON d.ID_Departamento = e.ID_Departamento
GROUP BY d.Nombre_Departamento
'''

df_count = pd.read_sql_query(query_count, conn)
print("\n Empleados por Departamento:\n")
print(df_count.to_string(index=False))

In [ ]:
# Ejemplo prÃ¡ctico: RelaciÃ³n Muchos a Muchos (N:M)
# Estudiantes <-> Cursos (con tabla intermedia Inscripciones)

# Insertar datos en Estudiantes
cursor.execute("INSERT INTO Estudiantes VALUES (1, 'Ana', 'GarcÃ­a', 'ana@email.com', '2000-03-15')")
cursor.execute("INSERT INTO Estudiantes VALUES (2, 'Luis', 'PÃ©rez', 'luis@email.com', '1999-07-22')")
cursor.execute("INSERT INTO Estudiantes VALUES (3, 'MarÃ­a', 'LÃ³pez', 'maria@email.com', '2001-11-08')")

# Insertar datos en Cursos
cursor.execute("INSERT INTO Cursos VALUES ('CS101', 'IntroducciÃ³n a la ProgramaciÃ³n', 4, 'InformÃ¡tica')")
cursor.execute("INSERT INTO Cursos VALUES ('MA201', 'CÃ¡lculo Avanzado', 5, 'MatemÃ¡ticas')")
cursor.execute("INSERT INTO Cursos VALUES ('PH301', 'FÃ­sica CuÃ¡ntica', 4, 'FÃ­sica')")
cursor.execute("INSERT INTO Cursos VALUES ('DB401', 'Bases de Datos', 3, 'InformÃ¡tica')")

# Insertar inscripciones (tabla intermedia)
cursor.execute("INSERT INTO Inscripciones (ID_Estudiante, ID_Curso, Fecha_Inscripcion, Calificacion) VALUES (1, 'CS101', '2024-01-15', 8.5)")
cursor.execute("INSERT INTO Inscripciones (ID_Estudiante, ID_Curso, Fecha_Inscripcion, Calificacion) VALUES (1, 'MA201', '2024-01-15', 9.0)")
cursor.execute("INSERT INTO Inscripciones (ID_Estudiante, ID_Curso, Fecha_Inscripcion, Calificacion) VALUES (1, 'DB401', '2024-01-15', 7.5)")
cursor.execute("INSERT INTO Inscripciones (ID_Estudiante, ID_Curso, Fecha_Inscripcion, Calificacion) VALUES (2, 'CS101', '2024-01-16', 7.0)")
cursor.execute("INSERT INTO Inscripciones (ID_Estudiante, ID_Curso, Fecha_Inscripcion, Calificacion) VALUES (2, 'PH301', '2024-01-16', 8.0)")
cursor.execute("INSERT INTO Inscripciones (ID_Estudiante, ID_Curso, Fecha_Inscripcion, Calificacion) VALUES (3, 'CS101', '2024-01-17', 9.5)")
cursor.execute("INSERT INTO Inscripciones (ID_Estudiante, ID_Curso, Fecha_Inscripcion, Calificacion) VALUES (3, 'DB401', '2024-01-17', 8.8)")

# Consulta: Ver todos los cursos de cada estudiante
query = '''
SELECT 
    e.Nombre || ' ' || e.Apellido as Estudiante,
    c.Nombre_Curso,
    c.Creditos,
    i.Calificacion
FROM Inscripciones i
JOIN Estudiantes e ON i.ID_Estudiante = e.ID_Estudiante
JOIN Cursos c ON i.ID_Curso = c.ID_Curso
ORDER BY e.Apellido, c.Nombre_Curso
'''

df_inscripciones = pd.read_sql_query(query, conn)
print("\n RelaciÃ³n N:M - Estudiantes e Inscripciones:\n")
print(df_inscripciones.to_string(index=False))

# Mostrar estudiantes por curso
query_por_curso = '''
SELECT 
    c.Nombre_Curso,
    COUNT(i.ID_Estudiante) as Total_Estudiantes,
    ROUND(AVG(i.Calificacion), 2) as Calificacion_Promedio
FROM Cursos c
LEFT JOIN Inscripciones i ON c.ID_Curso = i.ID_Curso
GROUP BY c.Nombre_Curso
ORDER BY Total_Estudiantes DESC
'''

df_por_curso = pd.read_sql_query(query_por_curso, conn)
print("\nğŸ“Š EstadÃ­sticas por Curso:\n")
print(df_por_curso.to_string(index=False))

## 4. NormalizaciÃ³n de Bases de Datos

### Â¿QuÃ© es la normalizaciÃ³n?

La **normalizaciÃ³n** es un proceso de organizaciÃ³n de datos en una base de datos para:
1. **Eliminar redundancia** (datos duplicados)
2. **Evitar anomalÃ­as** de inserciÃ³n, actualizaciÃ³n y eliminaciÃ³n
3. **Mejorar la integridad** de los datos
4. **Optimizar el almacenamiento**

###  AnalogÃ­a del mundo real

Imagina que guardas tus documentos en casa:
- **Sin normalizar:** Tienes copias del mismo documento en varios cajones (redundancia)
- **Normalizado:** Cada documento estÃ¡ en un solo lugar lÃ³gico, y usas referencias (Ã­ndices) para encontrarlo

### Las Formas Normales

Existen varias "formas normales" (niveles de normalizaciÃ³n). Las mÃ¡s importantes son:
1. **Primera Forma Normal (1FN)**
2. **Segunda Forma Normal (2FN)**
3. **Tercera Forma Normal (3FN)**

Cada forma normal se construye sobre la anterior.

---

## 4.1. Primera Forma Normal (1FN)

### Reglas:

1. **Cada columna debe contener valores atÃ³micos** (indivisibles)
2. **No puede haber grupos repetidos** de columnas
3. **Cada celda debe contener un solo valor** (no listas o conjuntos)
4. **Cada registro debe ser Ãºnico** (tener una Primary Key)

### âŒ Ejemplo que NO cumple 1FN:

```
Tabla: Pedidos (MAL DISEÃ‘ADA)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Pedidoâ”‚   Cliente  â”‚         Productos           â”‚     Precios      â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚   1001   â”‚  Ana GarcÃ­aâ”‚ Laptop, Mouse, Teclado      â”‚ 800, 25, 45      â”‚
â”‚   1002   â”‚  Luis PÃ©rezâ”‚ Monitor, Cable HDMI         â”‚ 300, 15          â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

**Problemas:**
- âŒ La columna "Productos" tiene mÃºltiples valores (no atÃ³mico)
- âŒ La columna "Precios" tiene mÃºltiples valores
- âŒ DifÃ­cil buscar un producto especÃ­fico
- âŒ Imposible hacer cÃ¡lculos correctos

### âœ… SoluciÃ³n - Aplicar 1FN:

**OpciÃ³n 1:** Separar en mÃºltiples filas
```
Tabla: Detalles_Pedido (CUMPLE 1FN)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Pedidoâ”‚   Cliente  â”‚ Producto  â”‚ Precio â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚   1001   â”‚ Ana GarcÃ­a â”‚  Laptop   â”‚  800   â”‚
â”‚   1001   â”‚ Ana GarcÃ­a â”‚  Mouse    â”‚   25   â”‚
â”‚   1001   â”‚ Ana GarcÃ­a â”‚  Teclado  â”‚   45   â”‚
â”‚   1002   â”‚ Luis PÃ©rez â”‚  Monitor  â”‚  300   â”‚
â”‚   1002   â”‚ Luis PÃ©rez â”‚Cable HDMI â”‚   15   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

**OpciÃ³n 2 (MEJOR):** Crear tabla separada para productos
```
Tabla: Pedidos
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Pedidoâ”‚   Cliente  â”‚    Fecha    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚   1001   â”‚ Ana GarcÃ­a â”‚ 2024-01-15  â”‚
â”‚   1002   â”‚ Luis PÃ©rez â”‚ 2024-01-16  â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

Tabla: Detalles_Pedido
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Det  â”‚ID_Pedido â”‚ ID_Producto â”‚ Cantidad â”‚ Precio â”‚
â”‚  (PK)   â”‚   (FK)   â”‚    (FK)     â”‚          â”‚        â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚   1     â”‚   1001   â”‚     P001    â”‚    1     â”‚  800   â”‚
â”‚   2     â”‚   1001   â”‚     P002    â”‚    1     â”‚   25   â”‚
â”‚   3     â”‚   1001   â”‚     P003    â”‚    1     â”‚   45   â”‚
â”‚   4     â”‚   1002   â”‚     P004    â”‚    1     â”‚  300   â”‚
â”‚   5     â”‚   1002   â”‚     P005    â”‚    1     â”‚   15   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”˜

Tabla: Productos
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Producto â”‚   Nombre    â”‚ Precio_Base  â”‚
â”‚    (PK)     â”‚             â”‚              â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚    P001     â”‚   Laptop    â”‚     800      â”‚
â”‚    P002     â”‚   Mouse     â”‚      25      â”‚
â”‚    P003     â”‚   Teclado   â”‚      45      â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

###  Beneficios de 1FN:
- âœ… Cada celda tiene un solo valor
- âœ… FÃ¡cil realizar bÃºsquedas y consultas
- âœ… FÃ¡cil agregar/eliminar productos
- âœ… Evita inconsistencias de datos

In [ ]:
# Ejemplo prÃ¡ctico: TransformaciÃ³n a 1FN

print("âŒ ANTES DE 1FN - Datos NO normalizados:\n")

# SimulaciÃ³n de tabla NO normalizada
data_no_normalizada = {
    'ID_Pedido': [1001, 1002, 1003],
    'Cliente': ['Ana GarcÃ­a', 'Luis PÃ©rez', 'MarÃ­a LÃ³pez'],
    'Productos': ['Laptop, Mouse, Teclado', 'Monitor, Cable HDMI', 'Tablet'],
    'Precios': ['800, 25, 45', '300, 15', '450']
}

df_no_norm = pd.DataFrame(data_no_normalizada)
print(df_no_norm.to_string(index=False))

print("\n" + "="*60)
print("\nâœ… DESPUÃ‰S DE 1FN - Datos normalizados:\n")

# Crear estructura normalizada
cursor.execute('''
CREATE TABLE Pedidos_Norm (
    ID_Pedido INTEGER PRIMARY KEY,
    Cliente TEXT NOT NULL,
    Fecha DATE
)
''')

cursor.execute('''
CREATE TABLE Productos_Norm (
    ID_Producto TEXT PRIMARY KEY,
    Nombre_Producto TEXT NOT NULL,
    Precio_Unitario REAL
)
''')

cursor.execute('''
CREATE TABLE Detalles_Pedido_Norm (
    ID_Detalle INTEGER PRIMARY KEY AUTOINCREMENT,
    ID_Pedido INTEGER,
    ID_Producto TEXT,
    Cantidad INTEGER,
    Precio REAL,
    FOREIGN KEY (ID_Pedido) REFERENCES Pedidos_Norm(ID_Pedido),
    FOREIGN KEY (ID_Producto) REFERENCES Productos_Norm(ID_Producto)
)
''')

# Insertar datos normalizados
cursor.execute("INSERT INTO Pedidos_Norm VALUES (1001, 'Ana GarcÃ­a', '2024-01-15')")
cursor.execute("INSERT INTO Pedidos_Norm VALUES (1002, 'Luis PÃ©rez', '2024-01-16')")
cursor.execute("INSERT INTO Pedidos_Norm VALUES (1003, 'MarÃ­a LÃ³pez', '2024-01-17')")

cursor.execute("INSERT INTO Productos_Norm VALUES ('P001', 'Laptop', 800)")
cursor.execute("INSERT INTO Productos_Norm VALUES ('P002', 'Mouse', 25)")
cursor.execute("INSERT INTO Productos_Norm VALUES ('P003', 'Teclado', 45)")
cursor.execute("INSERT INTO Productos_Norm VALUES ('P004', 'Monitor', 300)")
cursor.execute("INSERT INTO Productos_Norm VALUES ('P005', 'Cable HDMI', 15)")
cursor.execute("INSERT INTO Productos_Norm VALUES ('P006', 'Tablet', 450)")

cursor.execute("INSERT INTO Detalles_Pedido_Norm (ID_Pedido, ID_Producto, Cantidad, Precio) VALUES (1001, 'P001', 1, 800)")
cursor.execute("INSERT INTO Detalles_Pedido_Norm (ID_Pedido, ID_Producto, Cantidad, Precio) VALUES (1001, 'P002', 1, 25)")
cursor.execute("INSERT INTO Detalles_Pedido_Norm (ID_Pedido, ID_Producto, Cantidad, Precio) VALUES (1001, 'P003', 1, 45)")
cursor.execute("INSERT INTO Detalles_Pedido_Norm (ID_Pedido, ID_Producto, Cantidad, Precio) VALUES (1002, 'P004', 1, 300)")
cursor.execute("INSERT INTO Detalles_Pedido_Norm (ID_Pedido, ID_Producto, Cantidad, Precio) VALUES (1002, 'P005', 1, 15)")
cursor.execute("INSERT INTO Detalles_Pedido_Norm (ID_Pedido, ID_Producto, Cantidad, Precio) VALUES (1003, 'P006', 1, 450)")

# Mostrar datos normalizados
query = '''
SELECT 
    p.ID_Pedido,
    p.Cliente,
    pr.Nombre_Producto,
    d.Cantidad,
    d.Precio
FROM Detalles_Pedido_Norm d
JOIN Pedidos_Norm p ON d.ID_Pedido = p.ID_Pedido
JOIN Productos_Norm pr ON d.ID_Producto = pr.ID_Producto
ORDER BY p.ID_Pedido, pr.Nombre_Producto
'''

df_normalizada = pd.read_sql_query(query, conn)
print(df_normalizada.to_string(index=False))

print("\nğŸ’¡ Ahora cada celda contiene UN SOLO valor atÃ³mico")

## 4.2. Segunda Forma Normal (2FN)

### Requisitos previos:
- **Debe cumplir 1FN primero**

### Regla principal:
- **Eliminar dependencias parciales**: Todos los atributos no clave deben depender de **toda la Primary Key**, no solo de una parte.

### Â¿CuÃ¡ndo se aplica?
Solo cuando la Primary Key es **compuesta** (formada por 2 o mÃ¡s columnas).

### ğŸ’¡ ExplicaciÃ³n sencilla:

Si tu Primary Key es (A, B), entonces todos los demÃ¡s campos deben depender de A **Y** B juntos, no solo de A o solo de B.

---

###  Ejemplo que NO cumple 2FN:

```
Tabla: Calificaciones (MAL DISEÃ‘ADA)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Estudianteâ”‚ ID_Curso â”‚ Nombre_Estudianteâ”‚ Nota_Final â”‚ Nombre_Curso â”‚
â”‚              â”‚          â”‚                â”‚            â”‚              â”‚
â”‚    (PK)      â”‚  (PK)    â”‚                â”‚            â”‚              â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚     E001     â”‚  CS101   â”‚   Ana GarcÃ­a   â”‚     8.5    â”‚ ProgramaciÃ³n â”‚
â”‚     E001     â”‚  MA201   â”‚   Ana GarcÃ­a   â”‚     9.0    â”‚ MatemÃ¡ticas  â”‚
â”‚     E002     â”‚  CS101   â”‚   Luis PÃ©rez   â”‚     7.0    â”‚ ProgramaciÃ³n â”‚
â”‚     E003     â”‚  CS101   â”‚   MarÃ­a LÃ³pez  â”‚     9.5    â”‚ ProgramaciÃ³n â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
            PRIMARY KEY = (ID_Estudiante, ID_Curso)
```

**Problemas - Dependencias parciales:**

1. âŒ **Nombre_Estudiante** depende solo de `ID_Estudiante` (no del curso)
   - Ana GarcÃ­a aparece repetida porque estÃ¡ en 2 cursos
   
2. âŒ **Nombre_Curso** depende solo de `ID_Curso` (no del estudiante)
   - "ProgramaciÃ³n" aparece repetida porque hay 3 estudiantes en CS101

3. âŒ **Nota_Final** es el ÃšNICO campo que depende de AMBOS (estudiante Y curso)

**Consecuencias:**
- Redundancia de datos
- Si cambias el nombre de un estudiante, debes actualizarlo en mÃºltiples filas
- Desperdicio de espacio

---

###  SoluciÃ³n - Aplicar 2FN:

**Separar en 3 tablas:**

```
Tabla: Estudiantes (nueva)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Estudianteâ”‚     Nombre     â”‚     Email     â”‚
â”‚    (PK)      â”‚                â”‚               â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚     E001     â”‚   Ana GarcÃ­a   â”‚ ana@email.com â”‚
â”‚     E002     â”‚   Luis PÃ©rez   â”‚luis@email.com â”‚
â”‚     E003     â”‚   MarÃ­a LÃ³pez  â”‚maria@email.comâ”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
     â†‘ Nombre depende SOLO del ID_Estudiante

Tabla: Cursos (nueva)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Curso â”‚ Nombre_Curso â”‚ Creditos â”‚
â”‚   (PK)   â”‚              â”‚          â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚  CS101   â”‚ ProgramaciÃ³n â”‚    4     â”‚
â”‚  MA201   â”‚ MatemÃ¡ticas  â”‚    5     â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
     â†‘ Nombre_Curso depende SOLO del ID_Curso

Tabla: Calificaciones (modificada - CUMPLE 2FN)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Estudianteâ”‚ ID_Curso â”‚ Nota_Final  â”‚    Fecha     â”‚
â”‚    (FK/PK)   â”‚ (FK/PK)  â”‚             â”‚              â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚     E001     â”‚  CS101   â”‚     8.5     â”‚  2024-06-15  â”‚
â”‚     E001     â”‚  MA201   â”‚     9.0     â”‚  2024-06-16  â”‚
â”‚     E002     â”‚  CS101   â”‚     7.0     â”‚  2024-06-15  â”‚
â”‚     E003     â”‚  CS101   â”‚     9.5     â”‚  2024-06-15  â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
                    â†‘ Nota y Fecha dependen de AMBOS
```

###  Beneficios de 2FN:
- âœ… Elimina redundancia de nombres de estudiantes y cursos
- âœ… Actualizar un nombre de estudiante solo requiere cambiar 1 fila
- âœ… Mejor organizaciÃ³n lÃ³gica de datos
- âœ… Ahorro de espacio de almacenamiento

### Resumen:

**2FN = 1FN + "No dependencias parciales"**

Si tu Primary Key tiene una sola columna, **automÃ¡ticamente cumples 2FN** (no puede haber dependencias parciales).

In [ ]:
# Ejemplo prÃ¡ctico: TransformaciÃ³n a 2FN

print(" ANTES DE 2FN - Con dependencias parciales:\n")

# Tabla NO en 2FN
cursor.execute('''
CREATE TABLE Calificaciones_No_2FN (
    ID_Estudiante INTEGER,
    ID_Curso TEXT,
    Nombre_Estudiante TEXT,
    Nombre_Curso TEXT,
    Nota_Final REAL,
    PRIMARY KEY (ID_Estudiante, ID_Curso)
)
''')

cursor.execute("INSERT INTO Calificaciones_No_2FN VALUES (1, 'CS101', 'Ana GarcÃ­a', 'ProgramaciÃ³n', 8.5)")
cursor.execute("INSERT INTO Calificaciones_No_2FN VALUES (1, 'MA201', 'Ana GarcÃ­a', 'MatemÃ¡ticas', 9.0)")
cursor.execute("INSERT INTO Calificaciones_No_2FN VALUES (2, 'CS101', 'Luis PÃ©rez', 'ProgramaciÃ³n', 7.0)")
cursor.execute("INSERT INTO Calificaciones_No_2FN VALUES (3, 'CS101', 'MarÃ­a LÃ³pez', 'ProgramaciÃ³n', 9.5)")

df_no_2fn = pd.read_sql_query("SELECT * FROM Calificaciones_No_2FN", conn)
print(df_no_2fn.to_string(index=False))

print("\n  Problemas:")
print("   - 'Ana GarcÃ­a' estÃ¡ duplicada (depende solo de ID_Estudiante)")
print("   - 'ProgramaciÃ³n' estÃ¡ duplicada (depende solo de ID_Curso)")

print("\n" + "="*60)
print("\nâœ… DESPUÃ‰S DE 2FN - Sin dependencias parciales:\n")

# Ya tenemos las tablas Estudiantes y Cursos creadas anteriormente
# Solo mostramos la estructura mejorada

query = '''
SELECT 
    i.ID_Estudiante,
    e.Nombre as Nombre_Estudiante,
    i.ID_Curso,
    c.Nombre_Curso,
    i.Calificacion as Nota_Final
FROM Inscripciones i
JOIN Estudiantes e ON i.ID_Estudiante = e.ID_Estudiante
JOIN Cursos c ON i.ID_Curso = c.ID_Curso
WHERE i.Calificacion IS NOT NULL
ORDER BY i.ID_Estudiante, i.ID_Curso
'''

df_2fn = pd.read_sql_query(query, conn)
print("Vista combinada (JOIN de 3 tablas):")
print(df_2fn.to_string(index=False))

print("\n Beneficios:")
print("   âœ… Los nombres se almacenan UNA SOLA VEZ en sus respectivas tablas")
print("   âœ… Actualizar un nombre requiere cambiar solo 1 fila")
print("   âœ… Menor redundancia = menos espacio = mÃ¡s eficiencia")

## 4.3. Tercera Forma Normal (3FN)

### Requisitos previos:
- **Debe cumplir 2FN primero**

### Regla principal:
- **Eliminar dependencias transitivas**: Los atributos no clave NO deben depender de otros atributos no clave.

### ExplicaciÃ³n sencilla:

Una **dependencia transitiva** ocurre cuando:
- Campo A depende de la Primary Key
- Campo B depende de Campo A (no de la Primary Key directamente)

**Ejemplo de la vida real:**
```
CÃ³digo Postal â†’ Ciudad â†’ Provincia
```
La Provincia depende del CÃ³digo Postal de forma indirecta (a travÃ©s de la Ciudad).

---

###  Ejemplo que NO cumple 3FN:

```
Tabla: Empleados (MAL DISEÃ‘ADA)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Empleado â”‚   Nombre    â”‚ ID_Depto     â”‚ Nombre_Depto    â”‚ Ubicacion_Depto  â”‚
â”‚    (PK)     â”‚             â”‚              â”‚                 â”‚                  â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚    E101     â”‚ Ana GarcÃ­a  â”‚     D10      â”‚    Ventas       â”‚   Edificio A     â”‚
â”‚    E102     â”‚ Luis PÃ©rez  â”‚     D10      â”‚    Ventas       â”‚   Edificio A     â”‚
â”‚    E103     â”‚ MarÃ­a LÃ³pez â”‚     D10      â”‚    Ventas       â”‚   Edificio A     â”‚
â”‚    E104     â”‚ Carlos Ruiz â”‚     D20      â”‚    Marketing    â”‚   Edificio B     â”‚
â”‚    E105     â”‚ Elena Torresâ”‚     D30      â”‚    IT           â”‚   Edificio C     â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

**AnÃ¡lisis de dependencias:**

1. âœ… `Nombre` depende de `ID_Empleado` (correcto)
2. âœ… `ID_Depto` depende de `ID_Empleado` (correcto)
3. âŒ `Nombre_Depto` depende de `ID_Depto` (NO del ID_Empleado directamente)
4. âŒ `Ubicacion_Depto` depende de `ID_Depto` (NO del ID_Empleado directamente)

**Cadena de dependencias (transitiva):**
```
ID_Empleado â†’ ID_Depto â†’ Nombre_Depto
ID_Empleado â†’ ID_Depto â†’ Ubicacion_Depto
```

**Problemas:**
- âŒ **Redundancia masiva:** "Ventas" y "Edificio A" se repiten 3 veces
- âŒ **AnomalÃ­a de actualizaciÃ³n:** Si el departamento de Ventas se muda al Edificio D, hay que actualizar mÃºltiples filas
- âŒ **AnomalÃ­a de inserciÃ³n:** No puedes crear un departamento nuevo sin tener empleados
- âŒ **AnomalÃ­a de eliminaciÃ³n:** Si eliminas todos los empleados de IT, pierdes la informaciÃ³n del departamento

---

### âœ… SoluciÃ³n - Aplicar 3FN:

**Separar en 2 tablas:**

```
Tabla: Departamentos (nueva)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Depto     â”‚ Nombre_Depto â”‚ Ubicacion_Depto  â”‚
â”‚    (PK)      â”‚              â”‚                  â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚     D10      â”‚   Ventas     â”‚   Edificio A     â”‚
â”‚     D20      â”‚   Marketing  â”‚   Edificio B     â”‚
â”‚     D30      â”‚   IT         â”‚   Edificio C     â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
        â†‘ Nombre y UbicaciÃ³n dependen SOLO del ID_Depto

Tabla: Empleados (modificada - CUMPLE 3FN)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Empleado â”‚    Nombre    â”‚ ID_Depto â”‚   Salario    â”‚
â”‚    (PK)     â”‚              â”‚   (FK)   â”‚              â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚    E101     â”‚  Ana GarcÃ­a  â”‚   D10    â”‚   35000      â”‚
â”‚    E102     â”‚  Luis PÃ©rez  â”‚   D10    â”‚   45000      â”‚
â”‚    E103     â”‚  MarÃ­a LÃ³pez â”‚   D10    â”‚   60000      â”‚
â”‚    E104     â”‚  Carlos Ruiz â”‚   D20    â”‚   40000      â”‚
â”‚    E105     â”‚ Elena Torres â”‚   D30    â”‚   50000      â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
        â†‘ Todos los campos dependen DIRECTAMENTE del ID_Empleado
```

###  Beneficios de 3FN:
- âœ… **Cero redundancia:** Cada dato se almacena una sola vez
- âœ… **FÃ¡cil actualizaciÃ³n:** Cambiar la ubicaciÃ³n de un departamento = 1 UPDATE
- âœ… **Flexibilidad:** Puedes crear departamentos sin empleados
- âœ… **Integridad:** Eliminar empleados no afecta la informaciÃ³n de departamentos
- âœ… **Menor espacio:** Sin datos duplicados

---

###  Otro ejemplo clÃ¡sico: Direcciones

**âŒ NO cumple 3FN:**
```
Tabla: Clientes
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Clienteâ”‚ Nombre  â”‚   DirecciÃ³n   â”‚  Ciudad â”‚ Provincia â”‚   PaÃ­s    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚   C001   â”‚  Ana    â”‚ Calle Mayor 1 â”‚ Madrid  â”‚  Madrid   â”‚  EspaÃ±a   â”‚
â”‚   C002   â”‚  Luis   â”‚ Gran VÃ­a 50   â”‚ Madrid  â”‚  Madrid   â”‚  EspaÃ±a   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

**Problema:** "Madrid" (ciudad) â†’ "Madrid" (provincia) â†’ "EspaÃ±a" (paÃ­s)

**âœ… Cumple 3FN:**
```
Tabla: Clientes
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Clienteâ”‚ Nombre  â”‚   DirecciÃ³n   â”‚ ID_Ciudad  â”‚
â”‚          â”‚         â”‚               â”‚    (FK)    â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

Tabla: Ciudades
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Ciudad â”‚  Nombre â”‚ ID_Provincia â”‚ CÃ³digo_Postalâ”‚
â”‚   (PK)    â”‚         â”‚    (FK)      â”‚          â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

Tabla: Provincias
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ID_Provincia â”‚ Nombre  â”‚ ID_PaÃ­s â”‚
â”‚    (PK)      â”‚         â”‚  (FK)   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

###  Resumen de NormalizaciÃ³n:

| Forma Normal | Requisito Principal |
|--------------|--------------------|
| **1FN** | Valores atÃ³micos (no listas) |
| **2FN** | 1FN + No dependencias parciales |
| **3FN** | 2FN + No dependencias transitivas |

In [ ]:
# Ejemplo prÃ¡ctico: TransformaciÃ³n a 3FN

print("âŒ ANTES DE 3FN - Con dependencias transitivas:\n")

# Tabla NO en 3FN
cursor.execute('''
CREATE TABLE Empleados_No_3FN (
    ID_Empleado INTEGER PRIMARY KEY,
    Nombre TEXT,
    ID_Departamento INTEGER,
    Nombre_Departamento TEXT,
    Ubicacion_Departamento TEXT,
    Salario REAL
)
''')

cursor.execute("INSERT INTO Empleados_No_3FN VALUES (101, 'Ana GarcÃ­a', 10, 'Ventas', 'Edificio A', 35000)")
cursor.execute("INSERT INTO Empleados_No_3FN VALUES (102, 'Luis PÃ©rez', 10, 'Ventas', 'Edificio A', 45000)")
cursor.execute("INSERT INTO Empleados_No_3FN VALUES (103, 'MarÃ­a LÃ³pez', 10, 'Ventas', 'Edificio A', 60000)")
cursor.execute("INSERT INTO Empleados_No_3FN VALUES (104, 'Carlos Ruiz', 20, 'Marketing', 'Edificio B', 40000)")
cursor.execute("INSERT INTO Empleados_No_3FN VALUES (105, 'Elena Torres', 30, 'IT', 'Edificio C', 50000)")

df_no_3fn = pd.read_sql_query("SELECT * FROM Empleados_No_3FN", conn)
print(df_no_3fn.to_string(index=False))

print("\nâš ï¸  Problemas (dependencias transitivas):")
print("   - Nombre_Departamento depende de ID_Departamento (NO de ID_Empleado)")
print("   - Ubicacion_Departamento depende de ID_Departamento (NO de ID_Empleado)")
print("   - 'Ventas' y 'Edificio A' estÃ¡n duplicados 3 veces")

print("\n" + "="*70)
print("\nâœ… DESPUÃ‰S DE 3FN - Sin dependencias transitivas:\n")

# Ya tenemos las tablas Departamentos y Empleados creadas
# Mostrar la estructura mejorada

print("Tabla 1: Departamentos (informaciÃ³n una sola vez)")
df_deptos = pd.read_sql_query("SELECT * FROM Departamentos", conn)
print(df_deptos.to_string(index=False))

print("\nTabla 2: Empleados (sin redundancia)")
df_emps = pd.read_sql_query("SELECT * FROM Empleados", conn)
print(df_emps.to_string(index=False))

print("\nVista combinada (JOIN):")
query = '''
SELECT 
    e.ID_Empleado,
    e.Nombre,
    d.Nombre_Departamento,
    d.Ubicacion,
    e.Salario
FROM Empleados e
JOIN Departamentos d ON e.ID_Departamento = d.ID_Departamento
ORDER BY e.ID_Empleado
'''
df_3fn = pd.read_sql_query(query, conn)
print(df_3fn.to_string(index=False))

print("\nğŸ’¡ Beneficios:")
print("   âœ… Cada dato se almacena UNA SOLA VEZ")
print("   âœ… Actualizar ubicaciÃ³n de 'Ventas' = 1 UPDATE (no 3)")
print("   âœ… Puedes tener departamentos sin empleados")
print("   âœ… Eliminar empleados no afecta info de departamentos")

## 5. Resumen Completo: ComparaciÃ³n de Formas Normales

### Tabla comparativa:

| Forma Normal | Objetivo | Regla Clave | Ejemplo de ViolaciÃ³n |
|--------------|----------|-------------|---------------------|
| **1FN** | Atomicidad | Cada celda = 1 valor | `Productos: "Laptop, Mouse"` |
| **2FN** | Dependencia completa de PK | Todo depende de TODA la PK | Nombre_Estudiante depende solo de ID_Estudiante en PK(ID_Est, ID_Curso) |
| **3FN** | Dependencia directa | No depender de campos no clave | UbicaciÃ³n_Depto depende de ID_Depto (no de ID_Empleado) |

### Proceso de normalizaciÃ³n paso a paso:

```
Datos sin normalizar
        â†“
    Aplicar 1FN
        â†“
[Valores atÃ³micos, sin grupos repetidos]
        â†“
    Aplicar 2FN
        â†“
[Sin dependencias parciales]
        â†“
    Aplicar 3FN
        â†“
[Sin dependencias transitivas]
        â†“
Base de datos normalizada âœ…
```

###  Ventajas de la normalizaciÃ³n:

1. âœ… **Menor redundancia** â†’ Menos espacio de almacenamiento
2. âœ… **Integridad de datos** â†’ Menos inconsistencias
3. âœ… **FÃ¡cil mantenimiento** â†’ Actualizar en un solo lugar
4. âœ… **Flexibilidad** â†’ FÃ¡cil agregar nuevos datos
5. âœ… **Evita anomalÃ­as** â†’ InserciÃ³n, actualizaciÃ³n, eliminaciÃ³n

###  Consideraciones:

- **MÃ¡s tablas = mÃ¡s JOINs** â†’ Puede afectar performance en consultas complejas
- A veces se **desnormaliza intencionalmente** para mejorar rendimiento (data warehouses)
- En Data Science, es comÃºn trabajar con datos desnormalizados para anÃ¡lisis

###  Regla de oro:

> "Normaliza hasta 3FN por defecto, desnormaliza solo si tienes una buena razÃ³n (performance medida)"

## 6. ğŸ”§ Ejercicios PrÃ¡cticos

### Ejercicio 1: Identificar violaciones

Identifica quÃ© forma normal viola esta tabla:

```
Tabla: Biblioteca
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ ISBN    â”‚ TÃ­tulo         â”‚ Autores             â”‚ Editorial    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 12345   â”‚ El Quijote     â”‚ Cervantes           â”‚ Planeta      â”‚
â”‚ 67890   â”‚ Python Pro     â”‚ GarcÃ­a, LÃ³pez, Ruiz â”‚ O'Reilly     â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

**Respuesta:** Viola 1FN porque "Autores" tiene mÃºltiples valores.

---

### Ejercicio 2: DiseÃ±ar base de datos

DiseÃ±a una base de datos normalizada (hasta 3FN) para un sistema de gestiÃ³n de **biblioteca** que incluya:
- Libros (ISBN, tÃ­tulo, aÃ±o publicaciÃ³n)
- Autores (nombre, nacionalidad)
- PrÃ©stamos (fecha prÃ©stamo, fecha devoluciÃ³n)
- Usuarios (nombre, email, telÃ©fono)

**Pista:** NecesitarÃ¡s al menos 5 tablas.

---

### Ejercicio 3: Consultas SQL

Usando las tablas creadas en este notebook, escribe consultas para:

1. Listar todos los estudiantes con sus cursos y calificaciones
2. Calcular el promedio de calificaciones por curso
3. Encontrar el estudiante con la calificaciÃ³n mÃ¡s alta
4. Listar empleados que ganan mÃ¡s que el promedio de su departamento

In [ ]:
# Espacio para tus soluciones

# Ejercicio 3.1: Estudiantes con cursos y calificaciones
query_ej1 = '''
-- Escribe tu consulta aquÃ­
SELECT 
    e.Nombre || ' ' || e.Apellido as Estudiante,
    c.Nombre_Curso,
    i.Calificacion
FROM Inscripciones i
JOIN Estudiantes e ON i.ID_Estudiante = e.ID_Estudiante
JOIN Cursos c ON i.ID_Curso = c.ID_Curso
WHERE i.Calificacion IS NOT NULL
ORDER BY e.Apellido, i.Calificacion DESC
'''

print("Ejercicio 3.1: Estudiantes con sus cursos\n")
print(pd.read_sql_query(query_ej1, conn).to_string(index=False))

# Ejercicio 3.2: Promedio por curso
query_ej2 = '''
SELECT 
    c.Nombre_Curso,
    ROUND(AVG(i.Calificacion), 2) as Calificacion_Promedio,
    COUNT(*) as Num_Estudiantes
FROM Inscripciones i
JOIN Cursos c ON i.ID_Curso = c.ID_Curso
WHERE i.Calificacion IS NOT NULL
GROUP BY c.Nombre_Curso
ORDER BY Calificacion_Promedio DESC
'''

print("\n\nEjercicio 3.2: Promedio de calificaciones por curso\n")
print(pd.read_sql_query(query_ej2, conn).to_string(index=False))

# Ejercicio 3.3: Mejor calificaciÃ³n
query_ej3 = '''
SELECT 
    e.Nombre || ' ' || e.Apellido as Estudiante,
    c.Nombre_Curso,
    i.Calificacion
FROM Inscripciones i
JOIN Estudiantes e ON i.ID_Estudiante = e.ID_Estudiante
JOIN Cursos c ON i.ID_Curso = c.ID_Curso
WHERE i.Calificacion = (SELECT MAX(Calificacion) FROM Inscripciones)
'''

print("\n\nEjercicio 3.3: Estudiante(s) con la mejor calificaciÃ³n\n")
print(pd.read_sql_query(query_ej3, conn).to_string(index=False))

## 7. ğŸ“ Conclusiones y Mejores PrÃ¡cticas

### Reglas de oro del diseÃ±o de bases de datos:

1. **Siempre define Primary Keys**
   - Usa IDs autoincrementales cuando sea apropiado
   - AsegÃºrate de que sean inmutables (no cambien)

2. **Usa Foreign Keys para mantener integridad**
   - Previene datos huÃ©rfanos
   - Documenta las relaciones

3. **Normaliza hasta 3FN por defecto**
   - Reduce redundancia
   - Facilita mantenimiento

4. **Desnormaliza solo con justificaciÃ³n**
   - Cuando la performance lo requiera
   - En sistemas de reporting/analytics
   - Mide antes y despuÃ©s

5. **Documenta tus decisiones**
   - Usa comentarios en SQL
   - MantÃ©n diagramas E/R actualizados

6. **Naming conventions (convenciones de nombres)**
   - Usa nombres descriptivos: `Fecha_Nacimiento` no `FN`
   - SÃ© consistente: `ID_Estudiante` o `EstudianteID` (pero siempre el mismo patrÃ³n)
   - Primary Keys: `ID_` o `_ID`
   - Foreign Keys: mismo nombre que la tabla referenciada

### Para Data Science:

- **ETL:** Extrae de bases normalizadas â†’ Transforma â†’ Carga en estructuras optimizadas para anÃ¡lisis
- **Data Warehouses:** Suelen estar desnormalizados (esquema estrella/copo de nieve)
- **DataFrames:** Pandas permite JOINs similares a SQL (merge, join)

### Recursos adicionales:

- [DB-Engines](https://db-engines.com/) - Ranking de bases de datos
- [SQL Zoo](https://sqlzoo.net/) - Tutoriales interactivos de SQL
- [PostgreSQL Tutorial](https://www.postgresqltutorial.com/)

---

## Â¡Felicidades!

Has completado una guÃ­a completa sobre bases de datos relacionales. Ahora entiendes:

- âœ… Modelo Entidad-RelaciÃ³n (E/R)
- âœ… Primary Keys y Foreign Keys
- âœ… Relaciones 1:1, 1:N y N:M
- âœ… NormalizaciÃ³n (1FN, 2FN, 3FN)
- âœ… DiseÃ±o de bases de datos eficientes

**Â¡Ahora estÃ¡s listo para diseÃ±ar bases de datos profesionales!** ğŸš€

In [ ]:
# Cerrar conexiÃ³n a la base de datos
conn.close()
print("\nâœ… ConexiÃ³n cerrada. Gracias por aprender con The Bridge!")