# AWS - RDS MySQL
### Paquetes requeridos
Librería de Python necesaria para establecer conexión a una base de datos MySQL

In [13]:
#!pip3 install PyMySQL

In [14]:
#!pip install sqlalchemy==2.0.24
!pip install sqlalchemy --upgrade

Requirement already satisfied: sqlalchemy in c:\users\borja\appdata\local\programs\python\python311\lib\site-packages (2.0.44)
Requirement already satisfied: greenlet>=1 in c:\users\borja\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\borja\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.15.0)

In [15]:
!pip show PyMySQL

Name: PyMySQL
Version: 1.1.2
Summary: Pure Python MySQL Driver
Home-page:
Author:
Author-email: Inada Naoki <songofacandy@gmail.com>, Yutaka Matsubara <yutaka.matsubara@gmail.com>
License-Expression: MIT
Location: C:\Users\borja\AppData\Local\Programs\Python\Python311\Lib\site-packages
Requires:
Required-by:

In [16]:
!pip show sqlalchemy

Name: SQLAlchemy
Version: 2.0.44
Summary: Database Abstraction Library
Home-page: https://www.sqlalchemy.org
Author: Mike Bayer
Author-email: mike_mp@zzzcomputing.com
License: MIT
Location: C:\Users\borja\AppData\Local\Programs\Python\Python311\Lib\site-packages
Requires: greenlet, typing-extensions
Required-by:

### Credenciales
Para acceder a la BD necesitaremos tres datos:
1. Endpoint/host: la dirección donde se encuentra el servidor
2. Usuario
3. Contraseña

In [1]:
db_name = "database-1"
host = "database-1.cf6qcu2o68ue.us-east-2.rds.amazonaws.com"
username = "admin"
password = "123456789"
port = 3306

### Conexion BD

In [2]:
import pymysql

In [3]:
'''
pymysq].cursors.Dictcursor para que los resultados que devuelva sean diccionarios,
por defecto devuelve tuplas. Asi podemos acceder por clave a las columnas'''

db = pymysql.connect(host = host,
                     user = username,
                     password = password,
                     cursorclass = pymysql.cursors.DictCursor
)
# El objeto cursor es el que ejecutará las queries y devolverá los resultados

cursor = db. cursor()

### Version DB

In [4]:
'''
Este es el engine version de la BD de AWS
fechtone trae la primera linea de la consulta-
El execute() devuelve el numero de filas a las que ha afectado la query,
en este caso, devuelve una unica fila.

Execute se guarda en la conexion pero hasta que no hacemos commit
no se ejecutan las queries que modifiquen la base de datos de alguna manera:
de insert de datos, creación de tablas, etc '''
cursor.execute("SELECT VERSION()")
version = cursor.fetchone ()
print (f"MysQL version: {version}")

MysQL version: {'VERSION()': '8.0.43'}

### Creación de DB

In [7]:
#Creamos una BD. Tenemos una instancia de MySQL, pero no una BD
# Los comandos de SQL se suelen poner en mayuscula
create_db = '''CREATE DATABASE country_database'''
cursor.execute(create_db)

#Podemos eliminar la BD
#drop_db = '''DROP DATABASE country_database'''
#cursor. execute(drop_db)
# La volvemos a crear
# cursor.execute(create_db)
# el output es el numero de filas afectadas

1

In [8]:
cursor.execute("SHOW DATABASES")
cursor.fetchall()

[{'Database': 'country_database'},
 {'Database': 'information_schema'},
 {'Database': 'mysql'},
 {'Database': 'performance_schema'},
 {'Database': 'sys'}]

In [ ]:
#cursor.execute("DROP DATABASE country_database IF EXISTS")

1

### Creación de tablas

In [16]:
'''
Creamos una tabla 
Esto da error porque no le hemos dicho al servidor que BD
queremos usar
'''

# Crear una tabla que se llame country
create_table = '''
    CREATE TABLE country (
        id INT NOT NULL auto_increment,
        name TEXT,
        continent TEXT,
        population INT,
        gdp DOUBLE,
        primary key (id)
    )
'''
cursor.execute(create_table)

0

### Seleccionar la BD

In [9]:
# Para usar la BD recien creada
cursor.connection.commit()
use_db = ''' USE country_database'''
cursor.execute(use_db)

0

In [18]:
# Chequear todas las tablas que tiene mi db
cursor.execute('SHOW TABLES')
cursor.fetchall()

[{'Tables_in_country_database': 'country'}]

In [ ]:
# Si queremos borrar alguna tabla 
# drop_table = '''DROP TABLE country'''
# cursor.execute(drop_table)

### Insertar datos

In [17]:
insert_data = '''
INSERT INTO country(name, continent, population, gdp)
VALUES ('Spain','Europe',47, 1.74)
'''
cursor.execute(insert_data)
cursor.connection.commit()

In [13]:
name = "France"
continent = "Europe"
population = 54
gdp = 2

In [14]:
insert_data = f'''
INSERT INTO country(name,continent,population,gdp) VALUES ("{name}","{continent}",{population},{gdp})'''

In [19]:
cursor.execute(insert_data)

1

### Leer datos

In [20]:
query = '''SELECT * FROM country WHERE name LIKE "%pa%"'''
cursor.execute(query)

2

In [21]:
print(cursor.fetchall())

[{'id': 1, 'name': 'Spain', 'continent': 'Europe', 'population': 47, 'gdp': 1.74}, {'id': 2, 'name': 'Spain', 'continent': 'Europe', 'population': 47, 'gdp': 1.74}]

### Guardar los cambios
Hay que ejecutar el commit antes de cerrar la sesión de la BD para que se guarden todos los cambios

In [22]:
db.commit()

### Excepciones
Se recomienda rodear este tipo de sentencias con un try/except, ya que suele ser software productivo y tiene que saber manejar fallos

In [23]:
try:
    sql = '''SELECT * FROM country'''
    cursor.execute(sql)
    cursor.fetchall()
except Exception as e:
    print(e)

### Insertar datos de un CSV

In [24]:
# Creamos el CSV
import pandas as pd

df= pd.read_csv('country_data.csv', sep=';')

In [25]:
df

        name continent  population  gdp
0     France    Europe          70  2.7
1      Japan      Asia         126  4.9
2  Argentina   America          44  0.5
3     Brasil   America         209  1.8

In [26]:
# Si queremos ver cómo sería el CREATE TABLE a partir de un DataFrame
print(pd.io.sql.get_schema(df, 'paises'))

CREATE TABLE "paises" (
"name" TEXT,
  "continent" TEXT,
  "population" INTEGER,
  "gdp" REAL
)

In [27]:
df.to_dict()

{'name': {0: 'France', 1: 'Japan', 2: 'Argentina', 3: 'Brasil'},
 'continent': {0: 'Europe', 1: 'Asia', 2: 'America', 3: 'America'},
 'population': {0: 70, 1: 126, 2: 44, 3: 209},
 'gdp': {0: 2.7, 1: 4.9, 2: 0.5, 3: 1.8}}

In [28]:
df.to_dict().items()

dict_items([('name', {0: 'France', 1: 'Japan', 2: 'Argentina', 3: 'Brasil'}), ('continent', {0: 'Europe', 1: 'Asia', 2: 'America', 3: 'America'}), ('population', {0: 70, 1: 126, 2: 44, 3: 209}), ('gdp', {0: 2.7, 1: 4.9, 2: 0.5, 3: 1.8})])

In [29]:
for datos in zip(*[valor.values() for clave,valor in df.to_dict().items()]):
    insert = "INSERT INTO country(name,continent,population,gdp) VALUES ('%s','%s',%d,%.1f)" \
    %(datos[0],datos[1],datos[2],datos[3])
    cursor.execute(insert)

In [30]:
query = "SELECT * FROM country"
cursor.execute(query)
cursor.fetchall()

[{'id': 1,
  'name': 'Spain',
  'continent': 'Europe',
  'population': 47,
  'gdp': 1.74},
 {'id': 2,
  'name': 'Spain',
  'continent': 'Europe',
  'population': 47,
  'gdp': 1.74},
 {'id': 3,
  'name': 'France',
  'continent': 'Europe',
  'population': 70,
  'gdp': 2.7},
 {'id': 4,
  'name': 'Japan',
  'continent': 'Asia',
  'population': 126,
  'gdp': 4.9},
 {'id': 5,
  'name': 'Argentina',
  'continent': 'America',
  'population': 44,
  'gdp': 0.5},
 {'id': 6,
  'name': 'Brasil',
  'continent': 'America',
  'population': 209,
  'gdp': 1.8}]

In [31]:
# Utilizando sqlalchemy
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(user = username, pw = password, host = host, db = "country_database"))

In [32]:
df

        name continent  population  gdp
0     France    Europe          70  2.7
1      Japan      Asia         126  4.9
2  Argentina   America          44  0.5
3     Brasil   America         209  1.8

In [33]:
engine

Engine(mysql+pymysql://admin:***@database-1.cf6qcu2o68ue.us-east-2.rds.amazonaws.com/country_database)

In [34]:
df.to_sql(name = "country", con= engine, if_exists= "append", index = False)

4

In [35]:
db.commit()

In [36]:
from sqlalchemy import text

with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM country"))
    for row in result:
        print("fila:", row)

fila: (1, 'Spain', 'Europe', 47, 1.74)
fila: (2, 'Spain', 'Europe', 47, 1.74)
fila: (3, 'France', 'Europe', 70, 2.7)
fila: (4, 'Japan', 'Asia', 126, 4.9)
fila: (5, 'Argentina', 'America', 44, 0.5)
fila: (6, 'Brasil', 'America', 209, 1.8)
fila: (7, 'France', 'Europe', 70, 2.7)
fila: (8, 'Japan', 'Asia', 126, 4.9)
fila: (9, 'Argentina', 'America', 44, 0.5)
fila: (10, 'Brasil', 'America', 209, 1.8)

In [37]:
# ¿qué databases tenemos?
cursor.execute("SHOW DATABASES")
cursor.fetchall()

[{'Database': 'country_database'},
 {'Database': 'information_schema'},
 {'Database': 'mysql'},
 {'Database': 'performance_schema'},
 {'Database': 'sys'}]

In [38]:
# ¿qué tablas tenemos?

cursor.connection.commit()
use_db = ''' USE country_database'''
cursor.execute(use_db)

0

In [39]:
# ¿qué databases tenemos?
cursor.execute("SHOW TABLES")
cursor.fetchall()

[{'Tables_in_country_database': 'country'}]

### Cerrar la conexión cuando acabemos

In [40]:
db.close()

In [41]:
conn = engine.connect()
conn.close()